<section class="h-mb-40">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-start align-items-center h-mb-16">
      <div class="col-12 text-center">
        <h1 class="bob-h1">Find the right training<br><span class="bob-h1--color">for you</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <article class="ootb-tabcordion">
          <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
            <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1">Anypoint Platform Training</button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2" tabindex="-1">Composer training</button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3" tabindex="-1">Learning Library</button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab4-tab" id="tab4" tabindex="-1">MuleSoft Certifications</button>
          </div>
          <section id="tab1-tab" class="ootb-tabcordion--entry is-active" data-title="Anypoint Platform Training" tabindex="0" role="tabpanel" aria-labelledby="tab1">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">


                <!--<div class="text-center h-mt-40 h-mb-36">
                  <p class="bob-p">Learn to design and build APIs and integrations on MuleSoft Anypoint Platform.</p>
                </div>-->
                <div class="row justify-content-center align-items-center h-mb-36 owl-carousel owl-theme owl-carousel-tab1">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Course</span>
                        <h3 class="bob-h3">Anypoint Platform Development: Fundamentals</h3>
                        <p class="bob-p">Get started with Anypoint Platform with hands-on experience building APIs and integrations.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__days">5 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><!--<span class="bob-info-icons__instructor">Instructor-led</span>-->
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Course</span>
                        <h3 class="bob-h3">Anypoint Platform Architecture: Integration Solutions</h3>
                        <p class="bob-p">Learn how to lead Anypoint Platform implementations to ensure quality and operationalization of solutions.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__days">5 days</span><span class="bob-info-icons__instructor">Instructor-led</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Course</span>
                        <h3 class="bob-h3">Anypoint Platform Architecture: Application Networks</h3>
                        <p class="bob-p">Learn how to lead Anypoint Platform strategy to build an application network using API-led connectivity.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__instructor">Instructor-led</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
                <div class="text-center">
                  <a tabindex="0" href="https://training.mulesoft.com/course-catalog" class="bob-link bob-link--carot "><span>View all Anypoint Platform training</span></a>
                </div>


              </div>
            </div>
          </section>
          <section id="tab2-tab" class="ootb-tabcordion--entry" data-title="Composer training" tabindex="-1" role="tabpanel" aria-labelledby="tab2">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
                

                <!--<div class="text-center h-mt-40 h-mb-36">
                  <p class="bob-p">Learn to connect apps and data quickly and easily with clicks, not code with MuleSoft Composer.</p>
                </div>-->
                <div class="row justify-content-center align-items-center h-mb-36 owl-carousel owl-theme owl-carousel-tab2">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--minicourse"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Mini course</span>
                        <h3 class="bob-h3">Get Started with MuleSoft Composer</h3>
                        <p class="bob-p">Learn how business users and developers can quickly connect apps and data with MuleSoft Composer.</p>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--minicourse"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Mini course</span>
                        <h3 class="bob-h3">Manage Access and Users</h3>
                        <p class="bob-p">Learn how to access MuleSoft Composer as the main administrator and create and manage users.</p>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--minicourse"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Mini course</span>
                        <h3 class="bob-h3">Lead Nurturing with MuleSoft Composer</h3>
                        <p class="bob-p">Build and run a flow to automate syncing leads in Google Sheets with leads in Salesforce and notifications in Slack.</p>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
                <div class="text-center">
                  <a tabindex="0" href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&playlistId=54940296-218a-11ec-8643-0cc47adeb5f8" class="bob-link bob-link--carot "><span>View all Composer training</span></a>
                </div>


              </div>
            </div>
          </section>
          <section id="tab3-tab" class="ootb-tabcordion--entry" data-title="Learning Library" tabindex="-1" role="tabpanel" aria-labelledby="tab3">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
                

                <!--<div class="text-center h-mt-40 h-mb-36">
                  <p class="bob-p">For quick lessons on key skills, explore our Learning Library of short videos, mini courses, and other&nbsp;resources.</p>
                </div>-->
                <div class="row justify-content-center align-items-center h-mb-36 owl-carousel owl-theme owl-carousel-tab3">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--video"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Video</span>
                        <h3 class="bob-h3">Sharing APIs Explained</h3>
                        <p class="bob-p">Learn about options for sharing your APIs with Anypoint Platform.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">4:12</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--video"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Video</span>
                        <h3 class="bob-h3">Error Handling Explained</h3>
                        <p class="bob-p">Learn a few simple rules on how to understand error handling.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">9:57</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--video"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Video</span>
                        <h3 class="bob-h3">Customer-Hosted Mule Runtime Explained</h3>
                        <p class="bob-p">Learn how to manage an on-premises Mule runtime using the MuleSoft-hosted</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">3:36</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
                <div class="text-center">
                  <a tabindex="0" href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&playlistId=a4e83615-218a-11ec-8643-0cc47adeb5f8" class="bob-link bob-link--carot "><span>View Learning Library</span></a>
                </div>


              </div>
            </div>
          </section>
          <section id="tab4-tab" class="ootb-tabcordion--entry" data-title="MuleSoft Certifications" tabindex="-1" role="tabpanel" aria-labelledby="tab4">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
                

                <!--<div class="text-center h-mt-40 h-mb-36">
                  <p class="bob-p">Validate your skills and earn industry-recognized MuleSoft Certifications.</p>
                </div>-->
                <div class="row justify-content-center align-items-center h-mb-36 owl-carousel owl-theme owl-carousel-tab4">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Certification</span>
                        <h3 class="bob-h3">MuleSoft Certified Developer - Level 1</h3>
                        <p class="bob-p">Validate that you can work on basic Mule 4 projects to build, test, deploy, and manage APIs and integrations.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Certification</span>
                        <h3 class="bob-h3">MuleSoft Certified Integration Architect - Level 1</h3>
                        <p class="bob-p">Validate you can lead Anypoint Platform implementations to ensure quality and operationalization of solutions.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Certification</span>
                        <h3 class="bob-h3">MuleSoft Certified Platform Architect - Level 1</h3>
                        <p class="bob-p">Validate you can lead Anypoint Platform strategy to build an application network using API-led connectivity.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
                <div class="text-center">
                    <a tabindex="0" href="https://training.mulesoft.com/certification" class="bob-link bob-link--carot "><span>View MuleSoft Certifications</span></a>
                  </div>


              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
</section>