<!--link href="https://www.mulesoft.com/training/assets/images/home/styles.css" rel="stylesheet" />-->
<link rel="stylesheet" type="text/css" href="https://staging.training.mulesoft.com/cmsres-cdn/attachments/mulesoft-eb-agg.css?v=2">
<script>
    function removejscssfile(filename, filetype){
    var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist from
    var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
    var allsuspects=document.getElementsByTagName(targetelement)
    for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
    if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(filename)!=-1)
        allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
    }
  }
  
  //removejscssfile("somescript.js", "js") //remove all occurences of "somescript.js" on page
  removejscssfile("mulesoft-eb-agg.css", "css") //remove all occurences "somestyle.css" on page
</script>

<main>
<div id="home-test">
  <section id="hero" class="container-fluid h-mt-40">
    
    <div class="container">
      <!-- header START -->
      <article class="bob-header">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-5 col-lg-6">
            <div class="bob-header__texts">
              <h1 class="bob-h1">Learn to build connected<br><span class="bob-h1--color">experiences</span></h1><p class="bob-p">Innovate faster with reusable APIs and integrations, earn industry&#8209;recognized certifications, and elevate your&nbsp;career.</p><a href="https://training.mulesoft.com/course/development-fundamentals-mule4" class="bob-button">Start learning for free</a>
            </div>
          </div>
          <div class="col-12 col-md-7 col-lg-6 d-none d-md-block">
            <div class="bob-header__image text-end" role="img" aria-label="">
              <video autoplay="" muted="" playsinline="" title=""><source src="https://www.mulesoft.com/training/assets/images/home/animation-mulesoft-training-learning-paths.webm" type="video/webm"><source src="https://www.mulesoft.com/training/assets/images/home/animation-mulesoft-training-learning-paths.mp4" type="video/mp4"> </video>
            </div>
          </div>
        </div>
      </article>
      <!-- header END -->
      <!-- hero cards START -->
      <div id="hero-cards" class="h-mb-56">
        
          <div class="row justify-content-center justify-content-sm-start align-items-center  h-gradient-bkg-bluez">
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text-md ">
                <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Self-paced" class="bob-card__link-cover"><span>View all free courses</span></a>
                <div class="bob-card__txt">
                  <span class="bob-tag bob-tag--color-magenta-inverted">Free learning</span>
                  <h2 class="bob-h3">Learn at your own pace</h2>
                  <p class="bob-p">Enroll in our <span style="white-space: nowrap">self-paced</span> courses to learn in-demand skills for free</p>
                  <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Self-paced" class="bob-link bob-link--carot "><span>View self-paced courses</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text-md">
                <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Instructor-led" class="bob-card__link-cover"><span>Learn with instructor-led courses</span></a>
                <div class="bob-card__txt">
                  <span class="bob-tag ">&nbsp;</span>
                  <h2 class="bob-h3">Learn live from experts</h2>
                  <p class="bob-p">Learn directly from expert instructors with live online or <span style="white-space: nowrap">in-person</span> classes</p>
                  <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Instructor-led" class="bob-link bob-link--carot "><span>View instructor-led courses</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text-md">
                <a href="https://training.mulesoft.com/certification" class="bob-card__link-cover"><span>View Mulesoft certifications</span></a>
                <div class="bob-card__txt">
                  <span class="bob-tag">&nbsp;</span>
                  <h2 class="bob-h3">Validate your skills</h2>
                  <p class="bob-p">View the complete list of industry-recognized MuleSoft credentials</p>
                  <a href="https://training.mulesoft.com/certification" class="bob-link bob-link--carot "><span>View Certifications</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        
      </div>
      <!-- hero cards END -->
    </div>


    
  </section>

  <!-- hero cards START -->
  <section id="hero-cards2" class="h-mb-56">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center  h-gradient-bkg-bluez">
        <div class="col-12 col-md-4 col-lg-4">
          <!-- card START -->
          <article class="bob-card bob-card--text-md ">
            <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Self-paced" class="bob-card__link-cover"><span>View all free courses</span></a>
            <div class="bob-card__txt">
              <span class="bob-tag bob-tag--color-magenta-inverted">Free learning</span>
              <h2 class="bob-h3">Learn at your own pace</h2>
              <p class="bob-p">Enroll in our <span style="white-space: nowrap">self-paced</span> courses to learn in-demand skills for free</p>
              <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Self-paced" class="bob-link bob-link--carot "><span>View self-paced courses</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <!-- card START -->
          <article class="bob-card bob-card--text-md">
            <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Instructor-led" class="bob-card__link-cover"><span>Learn with instructor-led courses</span></a>
            <div class="bob-card__txt">
              <span class="bob-tag ">&nbsp;</span>
              <h2 class="bob-h3">Learn live from experts</h2>
              <p class="bob-p">Learn directly from expert instructors with live online or <span style="white-space: nowrap">in-person</span> classes</p>
              <a href="https://training.mulesoft.com/course-catalog?results=true&courseFormat=Instructor-led" class="bob-link bob-link--carot "><span>View instructor-led courses</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <!-- card START -->
          <article class="bob-card bob-card--text-md">
            <a href="https://training.mulesoft.com/certification" class="bob-card__link-cover"><span>View Mulesoft certifications</span></a>
            <div class="bob-card__txt">
              <span class="bob-tag">&nbsp;</span>
              <h2 class="bob-h3">Validate your skills</h2>
              <p class="bob-p">View the complete list of industry-recognized MuleSoft credentials</p>
              <a href="https://training.mulesoft.com/certification" class="bob-link bob-link--carot "><span>View Certifications</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- hero cards END -->

  <!-- learning paths START -->
  <section id="learning-path" class="h-mb-120">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top h-lg-col-swap">
        <div class="col-12 col-lg-4">
          <!-- card START -->
          <article class="bob-block__card">
            <div class="text-center text-lg-start">
              <span class="bob-eyebrow">Learning path</span>
              <h2 class="bob-h2 --fs-28">Learn MuleSoft and grow your&nbsp;career</h2>
              <p class="bob-p--large">Whether you are just getting started with MuleSoft or are an experienced integration professional, learn the skills you need to succeed in your&nbsp;career.</p>
              <!--<a href="#" class="bob-link bob-link--carot"><span>View all learning paths</span></a>-->
            </div>
          </article>
          <!-- card END -->
        </div>

        <!-- learning paths' carousel/grid START -->
        <div class="learning-path__paths col-12 col-lg-8">
          <div class="row justify-content-center justify-content-sm-start align-items-center owl-carousel owl-theme owl-carousel-paths">
            <div class="col-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-lg bob-card--border h-border-navy">
                <a href="https://training.mulesoft.com/learning-path/developers" class="bob-card__link-cover"><span>Developer role based learning</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Learning path</span>
                  <h3 class="bob-h3">Developer</h3>
                  <p class="bob-p">Follow this path to learn to solve integration challenges and earn the MuleSoft Certified Developer certification</p>
                  <a href="https://training.mulesoft.com/learning-path/developers" class="bob-link bob-link--carot "><span>View developer path<br></span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-lg bob-card--border h-border-ms-blue">
                <a href="https://training.mulesoft.com/learning-path/integration-architects" class="bob-card__link-cover"><span>Integration Architect role based learning</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Learning path</span>
                  <h3 class="bob-h3">Integration Architect</h3>
                  <p class="bob-p">Follow this path to learn how to design integration solutions and earn the MuleSoft Certified Integration Architect certification</p>
                  <a href="https://training.mulesoft.com/learning-path/integration-architects" class="bob-link bob-link--carot "><span>View integration architect path</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-lg bob-card--border h-border-viridian h-mb-0-md">
                <a href="https://training.mulesoft.com/learning-path/operations" class="bob-card__link-cover"><span>Operations role based learning</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Learning path</span>
                  <h3 class="bob-h3">Operations</h3>
                  <p class="bob-p">Follow this path for an operational introduction to Anypoint Platform™ </p>
                  <a href="https://training.mulesoft.com/learning-path/operations" class="bob-link bob-link--carot "><span>View operations path</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-lg bob-card--border h-border-lime h-mb-0-md">
                <a href="https://training.mulesoft.com/learning-path/platform-enterprise-architects" class="bob-card__link-cover"><span>Platform Architect role based learning</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Learning path</span>
                  <h3 class="bob-h3">Platform Architect</h3><p class="bob-p">Follow this path to learn how to build integrated application networks and earn the MuleSoft Certified Platform Architect certification</p>
                  <a href="https://training.mulesoft.com/learning-path/platform-enterprise-architects" class="bob-link bob-link--carot "><span>View platform architect path</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <!-- learning paths' carousel/grid END -->
      </div>
    </div>
  </section>
  <!-- learning paths END -->
  
  <!-- 3 benefits START -->
  <section id="benefits" class="h-mb-108">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-start h-mb-56">
        <div class="col-12 text-center">
          <span class="bob-eyebrow">Return on investment</span>
          <h1 class="bob-h1">MuleSoft Training and Certification<br><span class="bob-h1--color">delivers real value</span></h1>
        </div>
      </div>
      <div class="row justify-content-center align-items-top">	
        <div class="col-10 col-sm-7 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std">
            <div class="bob-benefit__img">
              <img src="https://www.mulesoft.com/training/assets/images/home/icon-benefit-integration.svg" alt="">
            </div>
            <div class="bob-benefit__txt">
              <h2 class="bob-h3">Solve integration challenges&nbsp;faster</h2>
              <p class="bob-p">Trained and certified developers and architects are <span style="white-space: nowrap">25% more</span> efficient on large projects</p>
            </div>
          </article>
          <!-- benefit END -->
        </div>
        <div class="col-10 col-sm-7 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std">
            <div class="bob-benefit__img">
              <img src="https://www.mulesoft.com/training/assets/images/home/icon-benefit-quality.svg" alt="">
            </div><div class="bob-benefit__txt">
              <h2 class="bob-h3">Elevate deliverable quality</h2>
              <p class="bob-p">Trained and certified developers and architects spend <span style="white-space: nowrap">75% less</span> time on error remediation</p>
            </div>
          </article>
          <!-- benefit END -->
        </div>
        <div class="col-10 col-sm-7 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std">
            <div class="bob-benefit__img">
              <img src="https://www.mulesoft.com/training/assets/images/home/icon-benefit-career.svg" alt="">
            </div>
            <div class="bob-benefit__txt">
              <h2 class="bob-h3">Love your career</h2>
              <p class="bob-p">Trained and certified developers and architects report improved employee experience</p>
            </div>
          </article>
          <!-- benefit END -->
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-9 col-md-6 text-center">
          <p class="bob-p h-fs-xs">* Metrics from The Total Economic Impact™ of MuleSoft Training and Certification, a&nbsp;commissioned study conducted by Forrester Consulting, December&nbsp;2020</p>
        </div>
      </div>
    </div>
  </section>
  <!-- 3 benefits END -->

  <!-- 2 zigzag START -->
  <section id="zigzags">
    <div class="container">
      <!-- zigzag START -->
      <article class="bob-zigzag h-mb-80">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 ">
            <div class="bob-zigzag__image" role="img" aria-label="">
              <img src="https://www.mulesoft.com/training/assets/images/home/graphic-mulesoft-training-skill-assessments.png" alt="" width="552">
            </div>
          </div>
          <div class="col-12 col-md-5 offset-md-1">
            <div class="bob-zigzag__texts">
              <span class="bob-eyebrow">Skill assessments</span>
              <h3 class="bob-h3">Earn MuleSoft Certifications</h3>
              <p class="bob-p">Increase your career opportunities with <span style="white-space: nowrap">industry-recognized</span> certifications or extend your certification status to keep your MuleSoft skills <span style="white-space: nowrap">up-to-date</span>.</p>
              <a href="https://training.mulesoft.com/certification" class="bob-link bob-link--carot "><span>View certifications</span></a>
            </div>
          </div>
        </div>
      </article>
      <!-- zigzag END -->
      <!-- zigzag START -->
      <article class="bob-zigzag bob-zigzag--col-swap">
        <div class="row align-items-center">
          <div class="col-12 offset-md-1 col-md-6">
            <div class="bob-zigzag__image" role="img" aria-label="">
              <img src="https://www.mulesoft.com/training/assets/images/home/graphic-mulesoft-training-course-library.png" alt="" width="552">
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="bob-zigzag__texts">
              <span class="bob-eyebrow">Course library</span>
              <h3 class="bob-h3">Uplevel your MuleSoft developer&nbsp;skills</h3>
              <p class="bob-p">Already mastered the fundamentals of creating Mule applications? If you're ready to take your MuleSoft skills to the next level, go deeper with our <span style="white-space: nowrap">Level 2</span> classes and learn to implement <span style="white-space: nowrap">production-ready</span> Mule applications or integrations.                </p>
              <a href="https://training.mulesoft.com/course-catalog?results=true&skillLevel=mulesoft.20" class="bob-link bob-link--carot "><span>View Level 2 courses</span></a>
            </div>
          </div>
        </div>
      </article>
      <!-- zigzag END -->
    </div>
  </section>
  <!-- 2 zigzag END -->

  <!-- blue background START -->
  <div class="wrapper-bkg-lt-blue bkg-white-top h-mt-160 h-mt-120-tabs-bp">

    <!-- training tabcordion START -->
    <section id="training-tabcordion"  class="h-mb-120">
      <div class="container">
        <div class="h-mb-36 text-center">
          <h1 class="bob-h1">Find the right training<br><span class="bob-h1--color">for you</span></h1>
        </div>

        <article class="ootb-tabcordion">
          <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
            <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1" alt="Anypoint Platform Training">Anypoint Platform Training</button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2" tabindex="-1">Composer Training</button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3" tabindex="-1">Learning Library</button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab4-tab" id="tab4" tabindex="-1">MuleSoft Certifications</button>
          </div>
        
          <!-- carousel tab1 START -->
          <section id="tab1-tab" class="ootb-tabcordion--entry is-active" data-title="Anypoint Platform Training" tabindex="0" role="tabpanel" aria-labelledby="tab1">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
        
                <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab1">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <a href="https://training.mulesoft.com/course/development-fundamentals-mule4-bootcamp" class="bob-card__link-cover" tabindex="0"><span>Course - Anypoint Platform Development: Fundamentals</span></a>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Course</span>
                        <h3 class="bob-h3">Anypoint Platform Development: Fundamentals</h3>
                        <p class="bob-p">Get started with Anypoint Platform with <span style="white-space: nowrap">hands-on</span> experience building APIs and integrations.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__days">5 days</span><!--<br><span class="bob-info-icons__selfpaced">Self-paced</span><br><span class="bob-info-icons__instructor">Instructor-led</span>-->
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <a href="https://training.mulesoft.com/course/architecture-integration-solutions" class="bob-card__link-cover" tabindex="0"><span>Course - Anypoint Platform Architecture: Integration Solutions</span></a>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Course</span>
                        <h3 class="bob-h3">Anypoint Platform Architecture: Integration Solutions</h3>
                        <p class="bob-p">Learn how to lead Anypoint Platform implementations to ensure quality and operationalization of solutions.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__days">5 days</span><!--<span class="bob-info-icons__instructor">Instructor-led</span>-->
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <a href="https://training.mulesoft.com/course/architecture-application-networks" class="bob-card__link-cover" tabindex="0"><span>Course - Anypoint Platform Architecture: Application Networks</span></a>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Course</span>
                        <h3 class="bob-h3">Anypoint Platform Architecture: Application Networks</h3>
                        <p class="bob-p">Learn how to lead Anypoint Platform strategy to build an application network using <span style="white-space: nowrap">API-led</span> connectivity.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__days">3 days</span><!--<span class="bob-info-icons__instructor">Instructor-led</span>-->
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
        
                <div class="text-center">
                  <a href="https://training.mulesoft.com/course-catalog" class="bob-link bob-link--carot ootb-tabcordion__view-all" tabindex="0"><span>View all Anypoint Platform training</span></a>
                </div>
                
              </div>
            </div>
          </section>
          <!-- carousel tab1 END -->
          
          <!-- carousel tab2 START -->
          <section id="tab2-tab" class="ootb-tabcordion--entry" data-title="Composer training" tabindex="-1" role="tabpanel" aria-labelledby="tab2">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
        
                <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab2">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <a href="https://training.mulesoft.com/site/scorm.do?dispatch=scLaunch&pkgId=f5cb9fe6-3d85-11ec-b5a6-0cc47a352292&utm_source=video&utm_medium=referral&utm_campaign=openlearning" class="bob-card__link-cover" tabindex="-1"><span>Mini course - Get Started with MuleSoft Composer</span></a>
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--minicourse"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Mini course</span>
                        <h3 class="bob-h3">Get Started with MuleSoft Composer</h3>
                        <p class="bob-p">Learn how business users and developers can quickly connect apps and data with MuleSoft Composer.</p>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <a href="https://training.mulesoft.com/site/scorm.do?dispatch=scLaunch&pkgId=0337faa0-3d88-11ec-b5a6-0cc47a352292&utm_source=video&utm_medium=referral&utm_campaign=openlearning" class="bob-card__link-cover" tabindex="-1"><span>Mini course - Manage Access and Users</span></a>
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--minicourse"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Mini course</span>
                        <h3 class="bob-h3">Manage Access and Users</h3>
                        <p class="bob-p">Learn how to access MuleSoft Composer as the main administrator and create and manage users.</p>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=795a36af-2ba1-11ec-b5a6-0cc47a352292&inner=false&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover" tabindex="-1"><span>Mini course - Lead Nurturing with MuleSoft Composer</span></a>
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--minicourse"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Mini course</span>
                        <h3 class="bob-h3">Lead Nurturing with MuleSoft Composer</h3>
                        <p class="bob-p">Build and run a flow to automate syncing leads in Google Sheets with leads in Salesforce and notifications <span style="white-space: nowrap">in Slack</span>.</p>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
        
                <div class="text-center">
                  <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&playlistId=54940296-218a-11ec-8643-0cc47adeb5f8" class="bob-link bob-link--carot ootb-tabcordion__view-all" tabindex="-1"><span>View all Composer training</span></a>
                </div>
        
              </div>
            </div>
          </section>
          <!-- carousel tab2 END -->
        
          <!-- carousel tab3 START -->
          <section id="tab3-tab" class="ootb-tabcordion--entry" data-title="Learning Library" tabindex="-1" role="tabpanel" aria-labelledby="tab3">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
        
                <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab3">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <a href="https://training.mulesoft.com/s/site/openlearn.do?dispatch=previewLesson&id=a5fc7c0d-1b20-11ec-8643-0cc47adeb5f8&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover" tabindex="-1"><span>Video - Sharing APIs Explained</span></a>
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--video"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Video</span>
                        <h3 class="bob-h3">Sharing APIs Explained</h3>
                        <p class="bob-p">Learn about options for sharing your APIs with Anypoint Platform.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">4:12</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=8cf78aee-1b1d-11ec-8643-0cc47adeb5f8&inner=false&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover" tabindex="-1"><span>Video - Error Handling Explained</span></a>
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--video"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Video</span>
                        <h3 class="bob-h3">Error Handling Explained</h3>
                        <p class="bob-p">Learn how to understand error handling with a few simple rules.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">9:57</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course-image ">
                      <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=bd4faba8-1b1f-11ec-8643-0cc47adeb5f8&inner=false&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover" tabindex="-1"><span>Video - Customer-Hosted Mule Runtime Explained</span></a>
                      <div class="bob-card__img">
                        <div class="bob-card__icon icon--video"></div>
                      </div>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Video</span>
                        <h3 class="bob-h3">Customer-Hosted Mule Runtime Explained</h3>
                        <p class="bob-p">Learn how to manage an <span style="white-space: nowrap">on-premises</span> Mule runtime using the <span style="white-space: nowrap">MuleSoft-hosted</span> control plane.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">3:36</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
        
                <div class="text-center">
                  <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&playlistId=a4e83615-218a-11ec-8643-0cc47adeb5f8" class="bob-link bob-link--carot ootb-tabcordion__view-all" tabindex="-1"><span>View Learning Library</span></a>
                </div>
        
              </div>
            </div>
          </section>
          <!-- carousel tab3 END -->
        
          <!-- carousel tab4 START -->
          <section id="tab4-tab" class="ootb-tabcordion--entry" data-title="MuleSoft Certifications" tabindex="-1" role="tabpanel" aria-labelledby="tab4">
            <div class="ootb-tabcordion--entry-container">
              <div class="ootb-tabcordion--entry-content">
        
                <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab4">	
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <a href="https://training.mulesoft.com/certification/developer-mule4-level1" class="bob-card__link-cover" tabindex="-1"><span>Certification - MuleSoft Certified Developer - Level 1</span></a>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Certification</span>
                        <h3 class="bob-h3">MuleSoft Certified Developer - Level&nbsp;1</h3>
                        <p class="bob-p">Validate that you can work on basic Mule&nbsp;4 projects to build, test, deploy, and manage APIs and integrations.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <a href="https://training.mulesoft.com/certification/architect-integration-level1" class="bob-card__link-cover" tabindex="-1"><span>Certification - MuleSoft Certified Integration Architect - Level 1</span></a>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Certification</span>
                        <h3 class="bob-h3">MuleSoft Certified Integration Architect - Level&nbsp;1</h3>
                        <p class="bob-p">Validate you can lead Anypoint Platform implementations to ensure quality and operationalization of solutions.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                  <div class="col-12 col-md-4">
                    <!-- card START -->
                    <article class="bob-card bob-card--course bob-card--border h-border-navy">
                      <a href="https://training.mulesoft.com/certification/architect-platform-level1" class="bob-card__link-cover" tabindex="-1"><span>Certification - MuleSoft Certified Platform Architect - Level 1</span></a>
                      <div class="bob-card__txt">
                        <span class="bob-eyebrow--small">Certification</span>
                        <h3 class="bob-h3">MuleSoft Certified Platform Architect - Level&nbsp;1</h3>
                        <p class="bob-p">Validate you can lead Anypoint Platform strategy to build an application network using <span style="white-space: nowrap">API-led</span> connectivity.</p>
                        <div class="bob-info-icons">
                          <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                        </div>
                      </div>
                    </article>
                    <!-- card END -->
                  </div>
                </div>
        
                <div class="text-center">
                  <a href="https://training.mulesoft.com/certification" class="bob-link bob-link--carot ootb-tabcordion__view-all" tabindex="-1"><span>View MuleSoft Certifications</span></a>
                </div>
        
              </div>
            </div>
          </section>
          <!-- carousel tab4 END -->
        </article>

      </div>
    </section>
    <!-- training tabcordion END -->

    <section id="quote-slider" class="h-mb-120">
      <div class="container">
        <div id="quote-slider__carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row justify-content-center">
                <div class="quote-slider__img col-10 col-md-5 order-md-2">
                  <img src="https://training.mulesoft.com/att/c02ec273-9df1-11ea-9f48-0cc47adeb5f8" class="d-block w-100" alt="">
                </div>
                <div class="quote-slider__txt col-md-7 order-md-1">
                  <figure class="quote">
                    <blockquote class="bob-h3">
                      MuleSoft training made me a better professional and helped me deepen my knowledge of the material before the exam. My&nbsp;employer deeply values certifications — it’s important when meeting with potential clients to have verified knowledge and skills.
                    </blockquote>
                    <figcaption>
                      <strong>Patryk Bandurski</strong><br>
                      Integration Subject Matter Expert, Poland
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <div class="row justify-content-center">
                <div class="quote-slider__img col-10 col-md-5 order-md-2">
                  <img src="https://training.mulesoft.com/att/645890bb-d737-11ea-9f48-0cc47adeb5f8" class="d-block w-100" alt="">
                </div>
                <div class="quote-slider__txt col-md-7 order-md-1">
                  <figure class="quote">
                    <blockquote class="bob-h3">
                      Mulesoft Training and Certifications have helped me stand out from the crowd by elevating the standard of my solutions for customers. <span style="white-space: nowrap">The well-organized</span> courses are <span style="white-space: nowrap">best-in-class</span> and strengthened my integration skills.
                    </blockquote>
                    <figcaption>
                      <strong>Ravi Tamada</strong><br>
                      Integration Architect, India
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <div class="row justify-content-center">
                <div class="quote-slider__img col-10 col-md-5 order-md-2">
                  <img src="https://training.mulesoft.com/att/21468e6e-9dee-11ea-9f48-0cc47adeb5f8" class="d-block w-100" alt="">
                </div>
                <div class="quote-slider__txt col-md-7 order-md-1">
                  <figure class="quote">
                    <blockquote class="bob-h3">
                      Getting a certification is important to be able to tell the world ‘I understand this.’ There’s a difference between attending a training and understanding. <span style="white-space: nowrap">The certification</span> validates that I have that understanding and knowledge of the subject matter.
                    </blockquote>
                    <figcaption>
                      <strong>Brian Frazer</strong><br>
                      Integration Consultant, Australia
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <div class="row justify-content-center">
                <div class="quote-slider__img col-10 col-md-5 order-md-2">
                  <img src="https://training.mulesoft.com/att/84c6696e-d738-11ea-9f48-0cc47adeb5f8" class="d-block w-100" alt="">
                </div>
                <div class="quote-slider__txt col-md-7 order-md-1">
                  <figure class="quote">
                    <blockquote class="bob-h3">
                      Becoming MuleSoft-certified has made me more competitive in the job marketplace, plus I feel a sense of pride knowing that I am knowledgeable in a skill that is <span style="white-space: nowrap">in-demand</span>.
                    </blockquote>
                    <figcaption>
                      <strong>Akshata Sawant</strong><br>
                      Senior Solution Consultant, India
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#quote-slider__carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#quote-slider__carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#quote-slider__carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#quote-slider__carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#quote-slider__carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#quote-slider__carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>

    <!-- brands START -->
    <section id="brands">
      <div class="container h-mb-108">
        <div class="row justify-content-center align-items-center h-mb-24">	
          <div class="owl-carousel owl-teheme owl-carousel-brands">

              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-airbnb.svg" alt="Airbnb logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-coca-cola.svg" alt="Coca-Cola logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-unilever.svg" alt="Unilever logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-wells-fargo.svg" alt="Wells Fargo logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-bp.svg" alt="BP logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-barclays.svg" alt="Barclays logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-splunk.svg" alt="Splunk logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-airbus.svg" alt="Airbus logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-ucsf.svg" alt="UCSF Medical Center logo">
              </div>
              <div class="carousel__img--brand item">
                <img src="https://www.mulesoft.com/training/assets/images/home/svg/logo-navy-toyota.svg" alt="Toyota logo">
              </div>
              
          </div>
        </div>

      </div>
    </section>
    <!-- brands END -->

    <!-- FAQ's accordion START -->
    <section id="faq">
      <div class="container h-mb-120">
        <!-- zigzag START -->
        <article class="bob-zigzag">
          <div class="row align-items-top">
            <div class="col-12 col-md-5 d-none d-md-block">
              <div class="bob-zigzag__image" role="img" aria-label="">
                <img src="https://www.mulesoft.com/training/assets/images/home/graphic-mulesoft-training-faq.png" alt="" width="552">
              </div>
            </div>
            <div class="col-12 col-md-7">
              <div class="bob-zigzag__texts">
                <h2 class="bob-h2">Frequently Asked Questions</h2>

                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3 class="bob-h3">I'm new to learning MuleSoft, where do I get started?</h3>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="bob-p">We recommend you start by reviewing our <a href="https://training.mulesoft.com/learning-path" class="bob-link  "><span>learning paths</span></a> which lay out a <span style="white-space: nowrap">step-by-step sequence</span> of courses and certifications by&nbsp;role.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3 class="bob-h3">Where can I find materials to prepare for my certification exam?</h3>
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="bob-p">Each certification has preparation materials to help you practice and test your knowledge before sitting the exam. Select the certification you are looking to take from our <a href="https://training.mulesoft.com/certification" class="bob-link  "><span>catalog</span></a> then review the “Preparation” section.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h3 class="bob-h3">I completed the self-paced training, how can I get certified?</h3>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="bob-p">Completion of the self-paced <a href="https://training.mulesoft.com/course/development-fundamentals-mule4" class="bob-link  "><span>Anypoint Platform Development: Fundamentals (Mule&nbsp;4)</span></a> course includes two free <a href="https://training.mulesoft.com/certification/developer-mule4-level1" class="bob-link  "><span>MuleSoft Certified Developer - Level&nbsp;1 (Mule&nbsp;4)</span></a> certification exam attempts which you'll find in your <a href="https://training.mulesoft.com/login" class="bob-link  "><span>learner dashboard</span></a>.</p>
                        <p class="bob-p">Learn more in this <a href="https://help.learn.mulesoft.com/hc/en-us/articles/360001150654-I-completed-the-self-paced-training-how-can-I-get-certified-" class="bob-link  "><span>help article</span></a>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h3 class="bob-h3">How do I request a private training for my company?</h3>
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="bob-p">We offer private classes for all of our courses. Browse the full <a href="https://training.mulesoft.com/course-catalog" class="bob-link  "><span>course catalog</span></a> and submit a request to <a href="https://help.learn.mulesoft.com/hc/en-us/requests/new" class="bob-link  "><span>MuleSoft Training Support Operations</span></a>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <h3 class="bob-h3">How can I contact MuleSoft Training?</h3>
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="bob-p">The answers to many frequently asked questions can be found in our <a href="https://help.learn.mulesoft.com/hc/en-us" class="bob-link  "><span>help center</span></a>. If you're unable to find an answer, you can <a href="https://help.learn.mulesoft.com/hc/en-us/requests/new" class="bob-link  "><span>submit a request</span></a>.</p> 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <h3 class="bob-h3">Where can I find additional developer resources?</h3>
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="bob-p">There are multiple resources for developers, including:</p>
                        <p class="bob-p"><a href="https://developer.mulesoft.com/tutorials-and-howtos" class="bob-link  "><span>Tutorials</span></a>: Step-by-step guides and tutorials to solve common integration patterns with Anypoint Platform.</p>
                        <p class="bob-p"><a href="https://docs.mulesoft.com/general/" class="bob-link  "><span>Documentation</span></a>: In-depth references, release notes, and <span style="white-space: nowrap">step-by-step</span> tips.</p>
                        <p class="bob-p"><a href="https://www.mulesoft.com/community" class="bob-link  "><span>MuleSoft Community</span></a>: Provides local <a href="https://meetups.mulesoft.com/chapters/" class="bob-link  "><span>Meetup groups</span></a>, leadership programs, and <a href="https://help.mulesoft.com/s/forum" class="bob-link  "><span>interactive forums</span></a>.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </article>
        <!-- zigzag END -->
      </div>
    </section>
    <!-- FAQ's accordion END -->

  </div>
  <!-- blue background END -->
</div>
</main>

<script src ="js/jquery.min.js"> </script>
<script src ="js/bootstrap.min.js"> </script>
<script src ="js/owl.carousel.min.js"> </script>
<script src ="js/home-test.js"> </script>