<!--<div class="divider d-none d-lg-block"></div>
		<article>
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-12 col-sm-10 col-lg-12 comp_banner">
						<div class="row justify-content-center align-items-center">
							<div class="col-4 d-none d-lg-block">
								<div class="text-end">
									<img class="" src="https://www.mulesoft.com/training/assets/images/composer/banner_mulesoft.png" alt="" width="339">
								</div>
							</div>
							<div class="col-12 col-md-7 col-lg-5">
								<div>
									<h1 class="h2">Discover more ways to learn MuleSoft Composer, so you can innovate faster, design with confidence, and complete your projects&nbsp;easily!</h1>
								</div>
							</div>
							<div class="col-12 col-md-5 col-lg-3">
								<div class="text-center">
									<a class="ms-button --medium --ms-blue-inverted" tabindex="0" href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&inner=false&numItems=-1&currPage=-1&viewType=tile&listType=&playlistId=&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=&searchName=&subject1=&subject2=&subject3=&skillLevel=&region1=mulesoft.30&region2=&region3=&pageSize=25">Learn more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<div class="divider d-none d-lg-block"></div>-->

		
			<!--<div class="stormBreaker collapsed"></div>
	<div class="col-12">
		<div class="text-center --top-m4x">
			<a id="move" class="stormClose ms-button --navy-inverted" tabindex="0">Move widget</a>
		</div>
	</div>-->



	<div class="col-10 col-sm-8 col-lg-3">
		<article class="pill-card text-center">
			<!--<img class="" src="images/comp_con_01.png" alt="" width="310">-->
			<div class="pill-card__image">
				<div class="pill-card__height">
					<div class="logos-wrapper">
						<div class="logo_left"><img class="logo" src="https://www.mulesoft.com/training/assets/images/composer/svg/logo_salesforce.svg" alt=""></div>
						<div class="logo_right"><img class="logo" src="https://www.mulesoft.com/training/assets/images/composer/svg/logo_slack.svg" alt=""></div>
					</div>
				</div>
			</div>
			<div class="pill-card__text">
				<h2 class="h3">Salesforce and Slack</h2>
				<p class="pill-card__copy">How to build an integration flow with Salesforce and&nbsp;Slack</p>
				<a class="ms-link link--carot" tabindex="0" href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=55986f7a-3e67-11ec-b5a6-0cc47a352292&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=&utm_source=video&utm_medium=referral&utm_campaign=openlearning" targe="_blank">View demo</a>
			</div>
		</article>
	</div>

	<!--a class="ms-button --navy-inverted" tabindex="0">Watch video tour</a-->

		<!--<img class="" src="https://www.mulesoft.com/training/assets/images/composer/graphic_01.png" alt="" width="591">-->
						