<main>
  <div id="pm-marketing" class="other-pages">
  
  <!-- header START -->
  <section id="hero" class="container-fluid">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Delivery <br class="d-lg-none">Leads<br><span class="bob-h1--color"></span></h1>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image" role="img" aria-label="">
                <img src="images/pm-delivery/partnermax-delivery-banner-desktop.jpg" alt="" class="image_desk" width="612"><img src="images/pm-delivery/partnermax-delivery-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- 3cards START -->
  <section id="three-cards" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center overlap-top h-solid-bkg-bluez">
        <div class="col-12 col-md-4 card_01">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-delivery/partnermax-card-integration.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Integration Trailhead</h3>
              <p class="bob-p">Become an integration expert with this guided learning course</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_02">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-delivery/partnermax-card-catalyst.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Intro to Catalyst</h3>
              <p class="bob-p">Achieve key outcomes while avoiding common pitfalls with MuleSoft Catalyst.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_03">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-delivery/partnermax-card-dev-community.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Developer community resources</h3>
              <p class="bob-p">Developer how-tos, integration strategy, and Community blogs.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>

      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- roles START -->
  <section id="roles" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- roles grid START -->
        <div class="roles-grid__contents col-12 col-sm-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">Get you team certified</h3>
                  <p class="bob-p">Find the right MuleSoft Training & Certification programs for you.</p><a href="" class="bob-link bob-link--carot "><span>View<br></span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">Catalyst FAQ</h3>
                  <p class="bob-p">Review the answers to our FAQ for MuleSoft Catalyst.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">Trailhead for Catalyst</h3>
                  <p class="bob-p">Learn how the MuleSoft Catalyst delivery methodology can help businesses innovate and scale faster.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">MuleSoft Certified Inegration Arechitect - Level 1</h3>
                  <p class="bob-p">Become a Certified Architect & drive your customers' implemtations</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <!-- roles grid END -->

        <div class="col-12 col-md-4">

        </div>

      </div>
    </div>
  </section>
  <!-- roles END -->

  <!-- content START -->
  <section id="browse-content" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- START -->
        <div class="roles-grid__contents col-12 col-lg-8">
          <h2 class="bob-h2">Browse through all relevant content!</h2>
          <h3 class="bob-h3 eyebrow--mod">Other content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is an API?</span></a>
              <p class="bob-p">Watch a quick video to  start your understanding about what is an API</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">How to articulate the value of integration</span></a>
              <p class="bob-p">Take 20-minutes to learn how to communicate the value of integration to your customers business</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">Connectivity Benchmark Reports</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is MuleSoft</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is Application Network</span></a>
            </div>
          </article>

        </div>
        <!-- END -->

      </div>
    </div>



  </section>
  <!-- content END -->
  
  </div>
</main>
