<main>
  <div id="pm-marketing" class="other-pages">

  <!-- header START -->
  <section id="hero" class="container-fluid">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Marketing <br class="d-lg-none">Leads<br><span class="bob-h1--color"></span></h1>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image" role="img" aria-label="">
                <img src="images/pm-marketing/partnermax-marketing-banner-desktop.jpg" alt="" class="image_desk" width="612"><img src="images/pm-marketing/partnermax-marketing-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- 3cards START -->
  <section id="three-cards" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center overlap-top h-solid-bkg-bluez">
        <div class="col-12 col-md-4 card_01">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>Watch</span></a>
            <div class="bob-card__img">
              <img src="images/pm-marketing/partnermax-card-ms-marketing.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Get started with MuleSoft Marketing</h3>
              <p class="bob-p">Watch this video to learn the key steps for success with MuleSoft marketing.</p>
              <a href="#" class="bob-link bob-link--carot "><span>Watch</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_02">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-marketing/partnermax-card-marketer-guide.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Your Marketer need to know guide</h3>
              <p class="bob-p">Watch this video to learn about top programs and activites for Marketers.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_03">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-marketing/partnermax-card-marketing-request.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Marketing Request form</h3>
              <p class="bob-p">Request support for special events, customer stories & more.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>

      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- roles START -->
  <section id="roles" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- roles grid START -->
        <div class="roles-grid__contents col-12 col-sm-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-top owl-carousel owl-theme owl-carousel-paths">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Marketing</span>
                  <h3 class="bob-h3">Build your marketing plan</h3>
                  <p class="bob-p">Learn to build a plan on a marketing plan with MuleSoft.</p><a href="" class="bob-link bob-link--carot "><span>View<br></span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Marketing</span>
                  <h3 class="bob-h3">Partner PR Guidelines</h3>
                  <p class="bob-p">Follow these guidelines to comply with MuleSoft's PR rules & best practices.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Marketing</span>
                  <h3 class="bob-h3 clamp-md-2">Partner branding guidelines & logos</h3>
                  <p class="bob-p clamp-md-3">Follow these branding guidelines to comply with our rules & best practices.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Marketing</span>
                  <h3 class="bob-h3 clamp-md-2">Partner of the Year Awards</h3>
                  <p class="bob-p clamp-md-3">Learn the details and requirements around the MuleSoft Partner of the Year Awards.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <!-- roles grid END -->

        <div class="col-12 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std bkg-inverted--dark-navy">
            <div class="bob-benefit__img">
              <img class="img_sm img__marketing-cmo" src="images/pm-marketing/partnermax-cmo-anya-bkg.png" alt="Anya Kuligina">
            </div>
            <div class="bob-benefit__txt">
              <h3 class="bob-h3">Meet our new CMO</h3>
              <p class="bob-p">Get to know MuleSoft's new Chief Marketing Officer, Anya Kuligina.</p>
              <a tabindex="0" href="#" class="bob-button">Watch video</a>
            </div>
          </article>
          <!-- benefit END -->
        </div>

      </div>
    </div>
  </section>
  <!-- roles END -->

  <!-- content START -->
  <section id="browse-content" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- START -->
        <div class="roles-grid__contents col-12 col-md-8">
          <h2 class="bob-h2">Browse through all relevant content!</h2>
          <h3 class="bob-h3 eyebrow--mod">Key content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">Org chart</span></a>
              <p class="bob-p">Get to know the MuleSoft Marketing Team</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">Marketing 101: What good looks like</span></a>
              <p class="bob-p">Learn what the ideal state for marketing with MuleSoft looks like.</p>
            </div>
          </article>

          <h3 class="bob-h3 eyebrow--mod">Other content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is an API?</span></a>
              <p class="bob-p">Watch a quick video to  start your understanding about what is an API</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">How to articulate the value of integration</span></a>
              <p class="bob-p">Take 20-minutes to learn how to communicate the value of integration to your customers business</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">Connectivity Benchmark Reports</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is MuleSoft</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is Application Network</span></a>
            </div>
          </article>

        </div>
        <!-- END -->

        <div class="col-12 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std bkg-inverted--dark-navy">
             <div class="bob-benefit__txt">
              <h3 class="bob-h3">Customer Success Stories</h3>
              <p class="bob-p">Read our customer success stories to gain insights.</p>
              <a tabindex="0" href="#" class="bob-button">View</a>
            </div>
          </article>
          <!-- benefit END -->
        </div>

      </div>
    </div>



  </section>
  <!-- content END -->
  
  </div>
</main>
