<main>
  <div id="pm-alliance" class="other-pages">

  <!-- header START -->
  <section id="hero" class="container-fluid">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Technical <br class="d-lg-none">Leads<br><span class="bob-h1--color"></span></h1>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image" role="img" aria-label="">
                <img src="images/pm-technical/partnermax-technical-banner-desktop.jpg" alt="" class="image_desk" width="612"><img src="images/pm-technical/partnermax-technical-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- 3cards START -->
  <section id="three-cards" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center overlap-top h-solid-bkg-bluez">
        <div class="col-12 col-md-4 card_01">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-technical/partnermax-card-ms-addons.png" alt="">
            </div>
            <div class="bob-card__txt"><h3 class="bob-h3">Mulesoft Add-ons</h3>
              <p class="bob-p">Get to know MuleSoft's add-ons (Base, APIM, UAPIM, Connectors) and the ways they can accelerate success.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_02">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-technical/partnermax-card-uapim-flex.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3">UAPIM & Flex Gateway</h3>
              <p class="bob-p">Learn more about MuleSoft's Universal API Management and Flex Gateway.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_03">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="images/pm-technical/partnermax-card-pack-size.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3">Packaging & Sizing</h3>
              <p class="bob-p">Get to know MuleSoft's packaging and sizing options.</p>
              <a href="#" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>

      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- roles START -->
  <section id="roles" class="h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- roles grid START -->
        <div class="roles-grid__contents col-12 col-sm-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Technical</span>
                  <h3 class="bob-h3">Anypoint Platform Basics</h3>
                  <p class="bob-p">Use this template with Client Account Leads or Industry Leads.</p><a href="" class="bob-link bob-link--carot "><span>View<br></span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Technical</span>
                  <h3 class="bob-h3">Deployment models</h3>
                  <p class="bob-p">Learn the types of deployment models used by MuleSoft.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Technical</span>
                  <h3 class="bob-h3">Integration Patterns</h3>
                  <p class="bob-p">Learn the types of integration patterns used by MuleSoft.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Technical</span>
                  <h3 class="bob-h3">Training & Certification</h3>
                  <p class="bob-p">Navigate MuleSoft Training & Certification programs.</p><a href="" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <!-- roles grid END -->

        <div class="col-12 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std bkg-inverted--dark-navy">
            <div class="bob-benefit__txt">
              <h3 class="bob-h3">NEW: Partner Kickstart Journey</h3>
              <p class="bob-p">This self-guided course will give your team a comprehensive understanding of the MuleSoft Market, value proposition and platform.</p>
              <a tabindex="0" href="#" class="bob-button">Get started</a>
            </div>
          </article>
          <!-- benefit END -->
        </div>

      </div>
    </div>
  </section>
  <!-- roles END -->

  <!-- content START -->
  <section id="browse-content" class="h-mb-80">
    <div class="container">
     <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- START -->
        <div class="roles-grid__contents col-12 col-lg-8">
          <h2 class="bob-h2">Browse through all relevant content!</h2>
          <h3 class="bob-h3 eyebrow--mod">Key content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">MuleSoft Composer Overview</span></a>
              <p class="bob-p">Learn the basics of MuleSoft's Composer</p>
            </div>
          </article>

          <h3 class="bob-h3 eyebrow--mod">Other content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is an API?</span></a>
              <p class="bob-p">Watch a quick video to  start your understanding about what is an API</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">How to articulate the value of integration</span></a>
              <p class="bob-p">Take 20-minutes to learn how to communicate the value of integration to your customers business</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">Connectivity Benchmark Reports</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is MuleSoft</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" class="bob-link  "><span class="bob-h3">What is Application Network</span></a>
            </div>
          </article>

        </div>
        <!-- END -->

      </div>
    </div>
  </section>
  <!-- content END -->
  
  </div>
</main>
