<article class="ootb-tabcordion">
  <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
    <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1" alt="Anypoint Platform Training">Anypoint Platform Training</button>
    <button class="tab" role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2" tabindex="-1">Composer training</button>
    <button class="tab" role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3" tabindex="-1">Learning Library</button>
    <button class="tab" role="tab" aria-selected="false" aria-controls="tab4-tab" id="tab4" tabindex="-1">MuleSoft Certifications</button>
  </div>

  <!-- carousel tab1 START -->
  <section id="tab1-tab" class="ootb-tabcordion--entry is-active" data-title="Anypoint Platform Training" tabindex="0" role="tabpanel" aria-labelledby="tab1">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">

        <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab1">	
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course bob-card--border h-border-navy">
              <a href="https://training.mulesoft.com/course/development-fundamentals-mule4-bootcamp" class="bob-card__link-cover"><span>Course - Anypoint Platform Development: Fundamentals</span></a>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Course</span>
                <h3 class="bob-h3">Anypoint Platform Development: Fundamentals</h3>
                <p class="bob-p">Get started with Anypoint Platform with <span style="white-space: nowrap">hands-on</span> experience building APIs and integrations.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__days">5 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><!--<span class="bob-info-icons__instructor">Instructor-led</span>-->
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course bob-card--border h-border-navy">
              <a href="https://training.mulesoft.com/course/architecture-integration-solutions" class="bob-card__link-cover"><span>Course - Anypoint Platform Architecture: Integration Solutions</span></a>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Course</span>
                <h3 class="bob-h3">Anypoint Platform Architecture: Integration Solutions</h3>
                <p class="bob-p">Learn how to lead Anypoint Platform implementations to ensure quality and operationalization of solutions.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__days">5 days</span><span class="bob-info-icons__instructor">Instructor-led</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course bob-card--border h-border-navy">
              <a href="https://training.mulesoft.com/course/architecture-application-networks" class="bob-card__link-cover"><span>Course - Anypoint Platform Architecture: Application Networks</span></a>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Course</span>
                <h3 class="bob-h3">Anypoint Platform Architecture: Application Networks</h3>
                <p class="bob-p">Learn how to lead Anypoint Platform strategy to build an application network using <span style="white-space: nowrap">API-led</span> connectivity.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__instructor">Instructor-led</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
        </div>

        <div class="ootb-tabcordion__view-all text-center">
          <a href="https://training.mulesoft.com/course-catalog" class="bob-link bob-link--carot "><span>View all Anypoint Platform training</span></a>
        </div>
        
      </div>
    </div>
  </section>
  <!-- carousel tab1 END -->
  
  <!-- carousel tab2 START -->
  <section id="tab2-tab" class="ootb-tabcordion--entry" data-title="Composer training" tabindex="-1" role="tabpanel" aria-labelledby="tab2">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">

        <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab2">	
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course-image ">
              <a href="https://training.mulesoft.com/site/scorm.do?dispatch=scLaunch&pkgId=f5cb9fe6-3d85-11ec-b5a6-0cc47a352292&utm_source=video&utm_medium=referral&utm_campaign=openlearning" class="bob-card__link-cover"><span>Mini course - Get Started with MuleSoft Composer</span></a>
              <div class="bob-card__img">
                <div class="bob-card__icon icon--minicourse"></div>
              </div>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Mini course</span>
                <h3 class="bob-h3">Get Started with MuleSoft Composer</h3>
                <p class="bob-p">Learn how business users and developers can quickly connect apps and data with MuleSoft Composer.</p>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course-image ">
              <a href="https://training.mulesoft.com/site/scorm.do?dispatch=scLaunch&pkgId=0337faa0-3d88-11ec-b5a6-0cc47a352292&utm_source=video&utm_medium=referral&utm_campaign=openlearning" class="bob-card__link-cover"><span>Mini course - Manage Access and Users</span></a>
              <div class="bob-card__img">
                <div class="bob-card__icon icon--minicourse"></div>
              </div>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Mini course</span>
                <h3 class="bob-h3">Manage Access and Users</h3>
                <p class="bob-p">Learn how to access MuleSoft Composer as the main administrator and create and manage users.</p>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course-image ">
              <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=795a36af-2ba1-11ec-b5a6-0cc47a352292&inner=false&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover"><span>Mini course - Lead Nurturing with MuleSoft Composer</span></a>
              <div class="bob-card__img">
                <div class="bob-card__icon icon--minicourse"></div>
              </div>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Mini course</span>
                <h3 class="bob-h3">Lead Nurturing with MuleSoft Composer</h3>
                <p class="bob-p">Build and run a flow to automate syncing leads in Google Sheets with leads in Salesforce and notifications <span style="white-space: nowrap">in Slack</span>.</p>
              </div>
            </article>
            <!-- card END -->
          </div>
        </div>

        <div class="ootb-tabcordion__view-all text-center">
          <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&playlistId=54940296-218a-11ec-8643-0cc47adeb5f8" class="bob-link bob-link--carot "><span>View all Composer training</span></a>
        </div>

      </div>
    </div>
  </section>
  <!-- carousel tab2 END -->

  <!-- carousel tab3 START -->
  <section id="tab3-tab" class="ootb-tabcordion--entry" data-title="Learning Library" tabindex="-1" role="tabpanel" aria-labelledby="tab3">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">

        <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab3">	
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course-image ">
              <a href="https://training.mulesoft.com/s/site/openlearn.do?dispatch=previewLesson&id=a5fc7c0d-1b20-11ec-8643-0cc47adeb5f8&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover"><span>Video - Sharing APIs Explained</span></a>
              <div class="bob-card__img">
                <div class="bob-card__icon icon--video"></div>
              </div>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Video</span>
                <h3 class="bob-h3">Sharing APIs Explained</h3>
                <p class="bob-p">Learn about options for sharing your APIs with Anypoint Platform.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__hours">4:12</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course-image ">
              <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=8cf78aee-1b1d-11ec-8643-0cc47adeb5f8&inner=false&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover"><span>Video - Error Handling Explained</span></a>
              <div class="bob-card__img">
                <div class="bob-card__icon icon--video"></div>
              </div>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Video</span>
                <h3 class="bob-h3">Error Handling Explained</h3>
                <p class="bob-p">Learn a few simple rules on how to understand error handling.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__hours">9:57</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course-image ">
              <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=previewLesson&id=bd4faba8-1b1f-11ec-8643-0cc47adeb5f8&inner=false&forAtlassian=&macro=&featuredPanel=&playlistsPanel=&masteredPanel=&popularPanel=&followingPanel=&recentlyViewedPanel=&randomPicksPanel=" class="bob-card__link-cover"><span>Video - Customer-Hosted Mule Runtime Explained</span></a>
              <div class="bob-card__img">
                <div class="bob-card__icon icon--video"></div>
              </div>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Video</span>
                <h3 class="bob-h3">Customer-Hosted Mule Runtime Explained</h3>
                <p class="bob-p">Learn how to manage an <span style="white-space: nowrap">on-premises</span> Mule runtime using the <span style="white-space: nowrap">MuleSoft-hosted</span></p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__hours">3:36</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
        </div>

        <div class="ootb-tabcordion__view-all text-center">
          <a href="https://training.mulesoft.com/site/openlearn.do?dispatch=lessonsPreview&playlistId=a4e83615-218a-11ec-8643-0cc47adeb5f8" class="bob-link bob-link--carot "><span>View Learning Library</span></a>
        </div>

      </div>
    </div>
  </section>
  <!-- carousel tab3 END -->

  <!-- carousel tab4 START -->
  <section id="tab4-tab" class="ootb-tabcordion--entry" data-title="MuleSoft Certifications" tabindex="-1" role="tabpanel" aria-labelledby="tab4">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">

        <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab4">	
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course bob-card--border h-border-navy">
              <a href="https://training.mulesoft.com/certification/developer-mule4-level1" class="bob-card__link-cover"><span>Certification - MuleSoft Certified Developer - Level 1</span></a>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Certification</span>
                <h3 class="bob-h3">MuleSoft Certified Developer - Level&nbsp;1</h3>
                <p class="bob-p">Validate that you can work on basic Mule&nbsp;4 projects to build, test, deploy, and manage APIs and integrations.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course bob-card--border h-border-navy">
              <a href="https://training.mulesoft.com/certification/architect-integration-level1" class="bob-card__link-cover"><span>Certification - MuleSoft Certified Integration Architect - Level 1</span></a>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Certification</span>
                <h3 class="bob-h3">MuleSoft Certified Integration Architect - Level&nbsp;1</h3>
                <p class="bob-p">Validate you can lead Anypoint Platform implementations to ensure quality and operationalization of solutions.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
          <div class="col-12 col-md-4">
            <!-- card START -->
            <article class="bob-card bob-card--course bob-card--border h-border-navy">
              <a href="https://training.mulesoft.com/certification/architect-platform-level1" class="bob-card__link-cover"><span>Certification - MuleSoft Certified Platform Architect - Level 1</span></a>
              <div class="bob-card__txt">
                <span class="bob-eyebrow--small">Certification</span>
                <h3 class="bob-h3">MuleSoft Certified Platform Architect - Level&nbsp;1</h3>
                <p class="bob-p">Validate you can lead Anypoint Platform strategy to build an application network using <span style="white-space: nowrap">API-led</span> connectivity.</p>
                <div class="bob-info-icons">
                  <span class="bob-info-icons__hours">2 hours</span><span class="bob-info-icons__selfpaced">Virtual</span>
                </div>
              </div>
            </article>
            <!-- card END -->
          </div>
        </div>

        <div class="ootb-tabcordion__view-all text-center">
          <a href="https://training.mulesoft.com/certification" class="bob-link bob-link--carot "><span>View MuleSoft Certifications</span></a>
        </div>

      </div>
    </div>
  </section>
  <!-- carousel tab4 END -->
</article>



TEST SUBJECT

        
<article class="ootb-tabcordion">
  <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
    <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1">Tab 1 with big text</button>
    <button class="tab" role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2" tabindex="-1">Tab 2 with big text</button>
    <button class="tab" role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3" tabindex="-1">Tab 3 with big text</button>
    <button class="tab" role="tab" aria-selected="false" aria-controls="tab4-tab" id="tab4" tabindex="-1">Tab 4 with big text</button>
  </div>
  <section id="tab1-tab" class="ootb-tabcordion--entry is-active" data-title="Tab 1 with big text" tabindex="0" role="tabpanel" aria-labelledby="tab1">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">
        <p>A simple solution for having tabbed content on a large screen but turn it into accordion on a smaller
          one when the time is right. Just resize your screen to see the tabbed interface transforming into an
          accordion.</p>
        <p>In order to keep the HTML as clean as possible, without duplicating elements, we use element
          attributes as CSS content to display the accordion tabs. <a class="more" href="https://www.gsarigiannidis.gr/tabs-on-desktop-accordion-on-mobile/" target="_blank">Read more</a></p>
        <p>A simple solution for having tabbed content on a large screen but turn it into accordion on a smaller
          one when the time is right. Just resize your screen to see the tabbed interface transforming into an
          accordion.</p>
          <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
      </div>
    </div>
  </section>
  <section id="tab2-tab" class="ootb-tabcordion--entry" data-title="Tab 2 with big text" tabindex="-1" role="tabpanel" aria-labelledby="tab2">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">
        
        <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab1">	
          <div class="col-12 col-md-4">
            <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-12 col-md-4">
            <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-12 col-md-4">
            <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="tab3-tab" class="ootb-tabcordion--entry" data-title="Tab 3 with big text" tabindex="-1" role="tabpanel" aria-labelledby="tab3">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">
        <p>A simple solution for having tabbed content on a large screen but turn it into accordion on a smaller
          one when the time is right. Just resize your screen to see the tabbed interface transforming into an
          accordion.</p>
        <p>In order to keep the HTML as clean as possible, without duplicating elements, we use element
          attributes as CSS content to display the accordion tabs. <a class="more" href="https://www.gsarigiannidis.gr/tabs-on-desktop-accordion-on-mobile/" target="_blank">Read more</a></p>
        <p>A simple solution for having tabbed content on a large screen but turn it into accordion on a smaller
          one when the time is right. Just resize your screen to see the tabbed interface transforming into an
          accordion.</p>
          <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
      </div>
    </div>
  </section>
  <section id="tab4-tab" class="ootb-tabcordion--entry" data-title="Tab 4 with big text" tabindex="-1" role="tabpanel" aria-labelledby="tab4">
    <div class="ootb-tabcordion--entry-container">
      <div class="ootb-tabcordion--entry-content">

        <div class="row justify-content-center align-items-center owl-carousel owl-theme owl-carousel-tab1">	
          <div class="col-12 col-md-4">
            <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-12 col-md-4">
            <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-12 col-md-4">
            <img src="https://staging.training.mulesoft.com/att/b969c571-9185-11ea-801d-001e6796a8d7" class="img-fluid rounded-circle" alt="">
          </div>
        </div>
        
      </div>
    </div>
  </section>
</article>