
<!--link href="https://staging.training.mulesoft.com/cmsres-cdn/attachments/bootstrap-override.css?v=2" rel="stylesheet" />-->
<main id="courses">

  <!-- header START -->
  <section class="hero container-fluid h-mb-60">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header bob-header-swoop">
          <div class="row justify-content-start align-items-center">
            <div class="col-12 col-sm-12">
              <div class="bob-header__text">
                <h1 class="bob-h1">Courses designed for&nbsp;you</h1>
                <p class="bob-p--large">Become a MuleSoft expert and expand your skills through flexible course offerings — from <span style="white-space: nowrap;">in-person</span> or virtual <span style="white-space: nowrap;">instructor-led</span> courses to online <span style="white-space: nowrap;">self-paced</span> courses — all built by MuleSoft experts.</p>
              </div>
            </div>
            <svg class="swoop" width="1920px" height="331px" viewBox="0 0 1920 330" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><defs><path d="M1920,330 L76.7313881,330.008182 C51.2800917,330.255837 25.7029624,330.372286 0,330.357528 L0,330 L76.7313881,330.008182 C789.975765,323.067922 1404.39864,213.086385 1920,0.0635708029 L1920,0.0635708029 L1920,330 Z" id="path-1"></path></defs><g id="Documentation-landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Combined-Shape" fill="#FFFFFF" xlink:href="#path-1"></use></g></svg>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->


  <!-- card modules START -->
  <section class="cards h-mb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 id="" class="bob-h2 h-mb-32">Featured courses:</h2>
        </div>
      </div>

      <div class="row justify-content-center justify-content-sm-start cards-cols">
        <div class="col-12 col-md-4 col-lg-3">
          <!-- card START -->
          <article class="bob-card bob-card--text">
            <div class="bob-card__txt">
              <h3 class="bob-h3">Getting started with Robotic Process Automation</h3>
              <p class="bob-p">Get hands-on with Anypoint Platform and learn the basics to design, build, deploy, and manage APIs.</p>
              <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <!-- card START -->
          <article class="bob-card bob-card--text">
            <div class="bob-card__txt">
              <h3 class="bob-h3">Administer RPA solutions</h3>
              <p class="bob-p">Get started with hands-on experience building APIs and integrations.</p>
              <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <!-- card START -->
          <article class="bob-card bob-card--text">
            <div class="bob-card__txt">
              <h3 class="bob-h3">Getting started with MuleSoft Composer</h3>
              <p class="bob-p">Uplevel your skills from Mule 3 to Mule 4 with hands-on experience with Studio 7 and Mule 4.</p>
              <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <!-- card START -->
          <article class="bob-card bob-card--text">
            <div class="bob-card__txt">
              <h3 class="bob-h3">Anypoint</h3>
              <p class="bob-p">Learn to create well-designed, modular API definitions using RAML 1.0 and Anypoint Platform.</p>
              <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div> 
  </section>
  <!-- card modules END -->

  <!-- card modules START -->
  <section class="cards h-mb-120">
    <div class="container">

      <div class="row justify-content-center justify-content-sm-start align-items-center">
        <div class="col-12 col-md-3">
          <div class="row justify-content-center justify-content-sm-start align-items-start">
            <div class="col-12">
              <!-- card START -->
              <article class="bob-card bob-card--text">
                <div class="bob-card__txt">
                  
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 id="" class="bob-h2 h-mb-32">Development courses:</h2>
            </div>
          </div>
          <div class="row justify-content-center justify-content-sm-start cards-cols">
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--dark-navy">
                <div class="bob-card__txt">
                  <h3 class="bob-h3">Lead Nurturing with MuleSoft Composer</h3>
                  <p class="bob-p">Build and run a flow to automate syncing leads in Google Sheets with leads in Salesforce and notifications in&nbsp;Slack.</p>
                  <a href="https://training.mulesoft.com/site/scorm.do?dispatch=scLaunch&pkgId=8eb2e4d6-3da3-11ec-b5a6-0cc47a352292&utm_source=video&utm_medium=referral&utm_campaign=openlearning" target="_blank" class=""></a>
                  <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--dark-navy">
                <div class="bob-card__txt">
                  <h3 class="bob-h3">New Hire Onboarding with MuleSoft Composer</h3>
                  <p class="bob-p">Build and run a flow to automate syncing new hires in Workday with notifications in Microsoft&nbsp;Teams.</p>
                  <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--dark-navy">
                <div class="bob-card__txt">
                  <h3 class="bob-h3">Customer Onboarding with MuleSoft Composer</h3>
                  <p class="bob-p">Build and run a flow to automate syncing customers in Stripe with customers in NetSuite and notifications in&nbsp;Slack.</p>
                  <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--dark-navy">
                <div class="bob-card__txt">
                  <h3 class="bob-h3 h-clamp-md-3">Service Case Management with MuleSoft Composer</h3>
                  <p class="bob-p">Build and run a flow to automate syncing incidents in ServiceNow with issues in&nbsp;Jira.</p>
                  <div class="bob-info-icons"><span class="bob-info-icons__days">3 days</span><span class="bob-info-icons__selfpaced">Self-paced</span><span class="bob-info-icons__level">Level 1</span></div>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
      </div>



    </div> 
  </section>
  <!-- card modules END -->

</main>

<script src ="https://www.mulesoft.com/training/assets/js/shared/jquery.min.js"> </script>
<!--<script src ="https://www.mulesoft.com/training/assets/js/composer.js"> </script>-->
<script src ="../../js/courses.js"> </script>
