<!--<link href="https://www.mulesoft.com/training/assets/css/home/styles.css" rel="stylesheet" />
<<link href="https://www.mulesoft.com/training/assets/css/home/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://staging.training.mulesoft.com/cmsres-cdn/attachments/mulesoft-eb-agg.css?v=2">
<script>
  //removejscssfile("somescript.js", "js") //remove all occurences of "somescript.js" on page
  removejscssfile("mulesoft-eb-agg.css", "css") //remove all occurences "somestyle.css" on page
</script>-->

<main id="rpa-home">

  <!-- header START -->
  <section class="hero container-fluid">
    <div class="bob-header__bkg bkg-gradient--lt-gray">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6">
              <div class="bob-header__text">
                <span class="bob-eyebrow">Robotic Process Automation</span>
                <h1 class="bob-h1">MuleSoft RPA<br><span class="bob-h1--color">Training</span></h1>
                <p class="bob-p">Purpose built for every member of your team. Deliver intelligent automation anywhere, accelerate digital transformation, and deliver APIs and integrations faster.</p><a tabindex="0" href="https://trailhead.salesforce.com/users/mulesoft-trailhead/trailmixes/mulesoft-rpa?utm_source=training.mulesoft&utm_medium=referral&utm_campaign=rpa" target="_blank" class="bob-button bob-button--ms-blue   ">Explore more</a>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image" role="img">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/hero-mulesoft-rpa-training-desktop.jpg" alt="" class="image_desk" width="552" height="auto">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/hero-mulesoft-rpa-training-mobile.jpg" alt="" class="image_mob" width="796" height="auto">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END --> 

  <!-- trailhead zigzags START -->
  <section class="trailhead-zigzags h-mb-80">
    <div class="container">
      <div class="trailhead-zz-1 h-mb-80">
        <!-- zigzag START -->
        <article class="bob-zigzag">
          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <div class="bob-zigzag__image" role="img" aria-label="">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-getting-started.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-5 offset-md-1">
              <div class="bob-zigzag__texts">
                <span class="bob-eyebrow">Trailhead</span>
                <h3 class="bob-h3">Getting started</h3>
                <p class="bob-p">Discover MuleSoft RPA and what distinguishes it from other RPA solutions. Learn how to propose, evaluate, and design RPA processes.</p>
                <a href="https://trailhead.salesforce.com/content/learn/trails/get-started-with-mulesoft-rpa" target="_blank" class="bob-link bob-link--carot "><span>Start automating</span></a>
              </div>
            </div>
          </div>
        </article>
        <!-- zigzag END -->
      </div>
      <div class="trailhead-zz-2 h-mb-80">
        <!-- zigzag START -->
        <article class="bob-zigzag bob-zigzag--col-swap">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-md-1">
              <div class="bob-zigzag__image" role="img" aria-label="">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-build-rpa-processes.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="bob-zigzag__texts">
                <span class="bob-eyebrow">Trailhead</span>
                <h3 class="bob-h3">Build RPA processes</h3>
                <p class="bob-p">Learn to build RPA processes with MuleSoft RPA Builder.</p>
                <a href="https://trailhead.salesforce.com/content/learn/trails/get-started-with-mulesoft-rpa-builder?utm_source=training.mulesoft&utm_medium=referral&utm_campaign=rpa" target="_blank" class="bob-link bob-link--carot "><span>Start building</span></a>
              </div>
            </div>
          </div>
        </article>
        <!-- zigzag END -->
      </div>
      <div class="trailhead-zz-3 h-mb-80">
        <!-- zigzag START -->
        <article class="bob-zigzag">
          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <div class="bob-zigzag__image" role="img" aria-label="">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-administer-solutions.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-5 offset-md-1">
              <div class="bob-zigzag__texts">
                <span class="bob-eyebrow">Trailhead</span>
                <h3 class="bob-h3">Administer RPA solutions</h3>
                <p class="bob-p">Learn to deploy, monitor and manage RPA solutions with MuleSoft RPA.</p>
                <a href="https://trailhead.salesforce.com/content/learn/trails/manage-mulesoft-rpa-solutions?utm_source=training.mulesoft&utm_medium=referral&utm_campaign=rpa" target="_blank" class="bob-link bob-link--carot "><span>Start deploying</span></a>
              </div>
            </div>
          </div>
        </article>
        <!-- zigzag END -->
      </div>
      <div class="trailhead-zz-banner h-mb-80">
        <!-- zigzag START -->
        <article class="bob-zigzag bob-zigzag--col-swap">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-md-1">
              <div class="bob-zigzag__image" role="img" aria-label="">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-self-paced.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="bob-zigzag__texts">
                <span class="bob-eyebrow">Mulesoft Training</span>
                <h3 class="bob-h3">MuleSoft Robotic Process Automation course</h3>
                <p class="bob-p">Already have a MuleSoft Training account? Learn the full lifecycle phases of MuleSoft&nbsp;RPA and implement an <span style="white-space: nowrap">end-to-end</span> automation use case in a <span style="white-space: nowrap">self-paced</span> course.</p>
                <a href="https://training.mulesoft.com/course/getting-started-rpa" target="_blank" class="bob-link bob-link--carot "><span>Learn more</span></a>
              </div>
            </div>
          </div>
        </article>
        <!-- zigzag END -->
      </div>
    </div>
  </section>
  <!-- trailhead zigzags END -->
  
  <!-- blue START -->
  <section class="h-bkg--lt-blue h-mb-120">
    
    <!-- wide card START -->
    <div class="trailhead-card h-bkg--white--top-half h-mb-120">
      <div class="container">
        <!-- card START -->
        <article class="bob-card-wide" onclick="tileClick(event, this)">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="bob-card-wide__img">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-trailhead-composer.jpg" alt="" class="image_desk">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-trailhead-composer-mobile.jpg" alt="" class="image_mob" width="796">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="bob-card-wide__txt">
                <span class="bob-eyebrow--small">Trailhead</span>
                <h3 class="bob-h3">Automate anything with MuleSoft RPA and&nbsp;Composer</h3>
                <p class="bob-p">Unlock effortless collaboration across IT and business teams with clicks, not code. Mulesoft Composer is the fastest and easiest way to connect apps and data.</p>
                <a href="https://trailhead.salesforce.com/en/content/learn/trails/get-started-with-mulesoft-composer?trailmix_creator_id=mulesoft-trailhead&trailmix_slug=mulesoft-composer" target="_blank" class="bob-link bob-link--carot "><span>Learn MuleSoft Composer</span></a>
              </div>
            </div>
          </div>
        </article>
        <!-- card END -->
      </div>
    </div>
    <!-- wide card END -->

    <!-- trailblazer START -->
    <div class="community-zz h-mb-120">
      <div class="container">
      <!-- zigzag START -->
      <article class="bob-zigzag bob-zigzag--col-swap">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 offset-md-1">
            <div class="bob-zigzag__image" role="img" aria-label="">
              <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-trailblazer-community.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-5 ">
            <div class="bob-zigzag__texts">
              <span class="bob-eyebrow">Trailblazer community</span>
              <h3 class="bob-h3">MuleSoft RPA Group</h3>
              <p class="bob-p">Ask questions, get answers, and share ideas with other MuleSoft RPA users and enthusiasts.</p>
              <a href="https://trailhead.salesforce.com/trailblazer-community/groups/0F94S000000kJPTSA2?tab=discussion&sort=LAST_MODIFIED_DATE_DESC" target="_blank" class="bob-link bob-link--carot "><span>Join us</span></a>
            </div>
            <div class="bob-zigzag__texts">
              <h3 class="bob-h3">MuleSoft Composer Group</h3>
              <p class="bob-p">Ask questions, get answers, and share ideas with other MuleSoft Composer users and enthusiasts.</p>
              <a href="https://trailhead.salesforce.com/trailblazer-community/groups/0F94S000000GwI1SAK?tab=discussion&sort=LAST_MODIFIED_DATE_DESC" target="_blank" class="bob-link bob-link--carot "><span>Join us</span></a>
            </div>
          </div>
        </div>
      </article>
      <!-- zigzag END -->
      </div>
    </div>
    <div class="documentation-zz h-mb-120">
      <div class="container">
        <!-- zigzag START -->
        <article class="bob-zigzag">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 ">
              <div class="bob-zigzag__image" role="img" aria-label="">
                <img src="https://www.mulesoft.com/training/assets/images/rpa/graphic-muleosft-rpa-documentation.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-5 offset-md-1">
              <div class="bob-zigzag__texts">
                <span class="bob-eyebrow">Documentation</span>
                <h3 class="bob-h3">RPA Documentation</h3><p class="bob-p">Get step-by-step instructions to set up and use MuleSoft RPA, along with the latest product release notes.</p>
                <a href="https://docs.mulesoft.com/rpa-home/" target="_blank" class="bob-link bob-link--carot "><span>View documentation</span></a>
              </div>
            </div>
          </div>
        </article>
        <!-- zigzag END -->
      </div>
    </div>
    <!-- trailblazer START -->

    <!-- cards START -->
    <div class="cards-3-cols h-mb-120">
      <div class="container">
        <div class="row justify-content-center h-mb-64">
          <div class="col-12 col-md-8 text-center">
            <h2 class="bob-h2">Continue learning MuleSoft Products</h2>
            <p class="bob-p">MuleSoft RPA seamlessly integrates with Anypoint Platform and Composer to deliver intelligent automation anywhere and achieve end-to-end automation at scale.</p>
          </div>
        </div>
      </div>
      <div class="h-bkg--white--bottom-half">
        <div class="container">
          <div class="row justify-content-center justify-content-sm-start align-items-center">
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--orange" onclick="tileClick(event, this)">
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Trailhead</span>
                  <h3 class="bob-h3">Learn MuleSoft RPA</h3>
                  <p class="bob-p">Explore a curated list of trails and modules to get you up and running with MuleSoft RPA.</p>
                  <a href="https://trailhead.salesforce.com/users/mulesoft-trailhead/trailmixes/mulesoft-rpa?utm_source=training.mulesoft&utm_medium=referral&utm_campaign=rpa" target="_blank" class="bob-link bob-link--carot "><span>See all</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--lime" onclick="tileClick(event, this)">
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Trailhead</span>
                  <h3 class="bob-h3">Learn MuleSoft Composer</h3>
                  <p class="bob-p">Explore a curated list of trails and modules to get you up and running with MuleSoft Composer.</p>
                  <a href="https://trailhead.salesforce.com/users/mulesoft-trailhead/trailmixes/mulesoft-composer?utm_source=training.mulesoft&utm_medium=referral&utm_campaign=rpa" target="_blank" class="bob-link bob-link--carot "><span>See all</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--ms-blue" onclick="tileClick(event, this)">
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Mulesoft training</span>
                  <h3 class="bob-h3">Learn Anypoint Platform</h3>
                  <p class="bob-p">Explore learning paths designed to help you excel in your role with Anypoint Platform.</p>
                  <a href="https://training.mulesoft.com/learning-path" target="_blank" class="bob-link bob-link--carot "><span>See learning paths</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- cards END -->
    
  </section>
  <!-- blue END -->


</main>

<script src ="https://www.mulesoft.com/training/assets/js/rpa.js"> </script>
<script src ="../js/rpa.js"> </script>
