
  <section class="top-flag-banner container-fluid">
    <div class="h-bkg--zircon">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h4 class="bob-h4">Looking to extend your existing MuleSoft Certification?</h4> <a class="bob-link" href="https://training.mulesoft.com/campaign/certification-maintenance-pilot" target="_self"><span>Register for continued learning sessions</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>