<main id="overview">

  <!-- header START -->
  <section class="hero container-fluid h-mb-20">
    
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-9">
              <div class="bob-header__text text-center">
                <h1 class="bob-h1">MuleSoft Certification Continued Learning Sessions</h1>
                <p class="bob-p--large">Passing a MuleSoft Certification exam is a huge accomplishment, but the learning doesn’t have to stop there! As a <span style="white-space: nowrap;">limited-time</span> benefit to our certified professionals, MuleSoft will be running expert-led sessions on advanced topics. Attendance and participation in these sessions will extend the validity of a MuleSoft Certification by one year. Sessions run from <span style="white-space: nowrap;">Oct - Nov 2022</span>.</p>
              </div>
            </div>

          </div>
        </article>
      </div>
    
  </section>
  <!-- header END -->

  <!-- hero cards START -->
  <section class="hero-cards h-mb-120">
    <div class="container">
      <div class="row cards-row justify-content-center h-gradient-bkg-bluez">
        <div class="col-12 col-md-6">
          <!-- card START -->
          <article class="bob-card bob-card--text-md">
            <div class="bob-card__txt">
              <span class="bob-eyebrow">Extend a Developer certification</span>
              <h3 class="bob-h3">Automated unit-testing with MUnit&nbsp;session</h3>
              <p class="bob-p">Testing has always been a core part of software development, and integration applications are no different. This session will cover the core aspects of writing automated unit tests for integration applications. Common use-cases will be reviewed to help developers test common scenarios and more advanced testing approaches when working with external dependencies.<br><br>
              <em>Access is limited to MuleSoft Certified Developers.</em></p>
              <a href="https://training.mulesoft.com/certification/developer-mule4-level1-maintenance/session-munit" target="_self" class="bob-link bob-link--arrow"><span>Register now</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-6">
          <!-- card START -->
          <article class="bob-card bob-card--text-md">
            <div class="bob-card__txt">
              <span class="bob-eyebrow">Extend an Architect certification</span>
              <h3 class="bob-h3">API Management for Architects with Anypoint Flex Gateway</h3>
              <p class="bob-p">With the introduction of Anypoint Flex Gateway, architects now have an option to operationalize, manage, and secure APIs running outside of Mulesoft Anypoint Platform and Mule runtimes. This webinar will cover the differences between the three available gateways (Mule Gateway, Anypoint Flex Gateway, and Anypoint Service Mesh).  Common use cases will be reviewed to help architects make decisions with respect to appropriate deployment topologies to satisfy requirements.<br><br>
              <em>Access is limited to MuleSoft Certified Architects.</em></p>
              <a href="https://training.mulesoft.com/certification/architect-level1-maintenance/session-flex-gateway" target="_self" class="bob-link bob-link--arrow "><span>Register now</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- hero cards END -->

  <!-- T&C START -->
  <section class="zigzags h-mb-120">
    <div class="trailhead-card">
      <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
          <div class="col-12 text-center">
            <h2 class="bob-h2">Terms and conditions</h2>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-9 text-center">
            <p class="bob-p">Once an individual attends a session and completes the required participation activity, they can expect to see an updated expiration date on their certification within 21 days. Promotion only applies to valid certifications. Certification validity extensions are at the sole discretion of MuleSoft. MuleSoft reserves the right to modify or cancel this promotion at any time.</p>
          </div>
        </div>
      </div>
    </div> 
  </section>
  <!-- T&C END -->
  
  <!-- blue START -->
  <section class="h-mb-120">
    <!-- wide card START -->
    <div class="banner-card">
      <div class="container">
        <!-- card START -->
        <article class="bob-card-wide bkg-circle-shape bkg-color-blue">
          <div class="row">
            <div class="col-12 offset-md-1 col-md-4">
              <div class="bob-card-wide__img d-flex justify-content-start justify-content-md-center">
                <img src="https://www.mulesoft.com/training/assets/images/overview/graphic-mulesoft-overview-questions.png" alt="" class="image_desk" width="360" height="360">
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center">
              <div class="bob-card-wide__txt">
                <h3 class="bob-h3">Have any questions or need help with  MuleSoft Training? </h3>
                <a href="https://training.mulesoft.com/contact" class="bob-button    ">Contact us</a>
              </div>
            </div>
          </div>
        </article>
        <!-- card END -->
      </div>
    </div>
    <!-- wide card END -->
  </section>
  <!-- blue END -->

</main>
<!---->
<script src ="../../js/pages.js"> </script>

