/* HELPERS */
main {


  .hidden {
    display: none;
  }

  .hidden-lg {
    @media screen and ( min-width: $md ) {
      display: none;
    }
  }

  .show-lg {
    @media screen and ( min-width: $md ) {
      display: block;
    }
  }

  // margin helpers

  .h-mb-0 {
    margin-bottom: 0;
  }

  .h-mb-66 {
    margin-bottom: 66px;
  }

  .h-mb-36 {
    margin-bottom: 36px;
  }

  .h-mb-40 {
    margin-bottom: 40px;
  }

  .h-mb-48 {
    margin-bottom: 48px;
  }

  .h-mb-56 {
    margin-bottom: 56px;
  }

  .h-mb-60 {
    margin-bottom: 60px;
  }

  .h-mb-64 {
    margin-bottom: 64px;
  }

  .h-mb-80 {
    margin-bottom: 80px;
  }

  .h-mb-280 {
    margin-bottom: 280px;
  }

  .h-mb-0-sm {
    @media screen and ( min-width: $sm ) {
      margin-bottom: 0;
    }
  }

  .h-mb-0-md {
    @media screen and ( min-width: $md ) {
      margin-bottom: 0;
    }
  }

  .h-mt-md-0 {

    @media screen and ( min-width: $md ) {
      margin-top: 0px;
    }
  }

  .scroll-margin {
    scroll-margin-top: 80px;
  }

  // Font size _helpers

  .eyebrow--20 {
    //margin-top: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .eyebrow--24 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
    color: var(--color-regent);
  }


  /////////// MODULES ////////////

  .bob-link {
    color: 	var(--color-navy);
    margin-top: 24px;
  }

  .bob-link--carot::before {
    background-color: var(--color-navy);
  }

  .bob-benefit {
    &.bkg-inverted--dark-navy {
      background-color: var(--color-dark-navy);
      padding: 40px 32px;
      margin-bottom: 0;
    }
  }

  .col-12.col-sm-12.col-md-6:last-of-type .bob-card {
    margin-bottom: 0;
    @media screen and ( min-width: 360px ) {
      
    }
  }
}


/////////// MENU overwrite ///////////

main {
  margin-top: 65px;
}

.navbar {
  padding: 0;
  background-color: var(--color-dark-navy);

  &.navbar-expand-lg {

    .navbar-nav .nav-link {
      @media screen and ( min-width: $lg ) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  
    .navbar-toggler {
      padding: 0;
      height: 65px;

      @media screen and ( min-width: $lg ) {
        display: block;
      }

      &:focus{
        box-shadow: none;
      }

      &[aria-expanded=true] {
        .navbar-brand::after {
          -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
          top: 30px;
        }
      }
    }
  }

  .navbar-brand-desktop {
    display: none;

    @media screen and ( min-width: $lg ) {
      font-size: 14px;
      display: inline-block;
      line-height: 0;
      margin-right: 24px;
      padding: 0;
      height: 65px;
      padding-top: 12px;
    }
  }

  .navbar-brand {
    font-size: 14px;
    display: inline-block;
    line-height: 0;
    margin-right: 24px;
    padding: 0;
    position: relative;

    &:after {
      content: '';
      color: var(--color-white);
      border: solid;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 25px;
      right: -36px;
      -webkit-transition: all .1s ease-out;
      transition: all .1s ease-out;
      
      @media screen and ( min-width: $lg ) {
        border: none;
      }
    }
  }

  .navbar-collapse {
    margin-top: 8px;
    border-bottom: 5px solid var(--color-dark-navy);
    border-top: 5px solid var(--color-dark-navy);
    margin-left: calc(var(--bs-gutter-x, 0.75rem) * -1);
    margin-right: calc(var(--bs-gutter-x, 0.75rem) * -1);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: url('../images/partnermax/shared/partnermax-menu-bkg.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      width: 60%;
      max-width: 325px;
      height: 100%;
      z-index: -1;
      right: 24px;
      bottom: 24px;
      background-size: contain;

      @media screen and ( min-width: $lg ) {
        display: none;
      }
    }

    @media screen and ( min-width: $lg ) {
      margin-top: 0;
      border: none;
      margin-left: 0;
      margin-right: 0;
    }

    &.show {
      border-color: #49BBC4;
    }
  }

  .navbar-nav {
    margin: 20px 0;

    @media screen and ( min-width: $lg ) {
      margin: 0;
    }
  }

  .nav-link {
    color: var(--color-white);
    font-family: var(--ff-head);
    font-weight: 700;
    padding: 8px 48px;

    @media screen and ( min-width: $lg ) {
      font-size: 16px;
      padding: 20px;
    }

    &:focus, &:hover {
      color: var(--color-seaserpent);
    }
  }

  .navbar-text {
    padding: 0;
    margin: 20px 0 20px 0;
    display: block;

    @media screen and ( min-width: $lg ) {
      margin: 0;
      display: inline-block;
    }

    .nav-link {
      padding-left: 48px;
      padding-right: 48px;

      @media screen and ( min-width: $lg ) {
        padding-left: 38px;
        padding-right: 0;
      }

      &:focus, &:hover {
        
        &::before {
          background-color: var(--color-seaserpent);
        }
      }
    }

    .bkg-icon--profile {
      position: relative;

      @media screen and ( min-width: $lg ) {
        &::before {
          content: '';
          position: absolute;
          //left: 0;
          width: 22px;
          height: 22px;

          --icon-profile: url('../images/partnermax/shared/icon-profile.svg');
          content: '';
          mask: var(--icon-profile);
          mask-size: cover;
          -webkit-mask: var(--icon-profile);
          -webkit-mask-size: cover;
          background-color: var(--color-white);
        }

        span.text {
          display: none;
        }
        .block {
          width: 22px;
          height: 24px;
        }
      }
    }
  }
}


/////////// BACKGROUND HELPERS ////////////

.h-gradient-bkg-bubble-1 {

  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    
    background-image: url('../images/partnermax/home/bkg_01.jpg');
    height: 225px;
    background-color: unset;
    background-repeat: no-repeat;
    background-position: 96%;
    top: -5%;

    display: none;

      @media screen and ( min-width: $md ) {
        display: block;
      }
  }
}

.h-gradient-bkg-bubble-2 {

  &::after {
    content: '';
    position: absolute;
    left: 50px;
    width: 100%;
    z-index: -1;
    
    background-image: url('../images/partnermax/home/bkg_02.jpg');
    height: 396px;
    background-color: unset;
    background-repeat: no-repeat;
    background-position: 1%;
    top: -45%;

    display: none;

    @media screen and ( min-width: $md ) {
      display: block;
    }
  }
}

.h-bkg--solid-bluez {
  &::before {
    content: '';
    background: #E8F8FF;
    display: block;
    position: absolute;
    top: 120px; //-180px;
    left: 0;
    height: 110%;
    width: 100%;
    z-index: -1;

    display: none;

    @media screen and ( min-width: $md ) {
      display: block;
    }
  }
}

.h-bkg--red-dots {
  &::after {
    content: '';
    background-image: url('../images/partnermax/shared/partnermax-bkg-red-dots.png');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    position: absolute;
    top: 100%; //-180px;
    left: 0;
    height: 480px;
    width: 100%;
    z-index: -1;

    display: none;

    @media screen and ( min-width: $md ) {
      display: block;
    }
  }
}

.h-bkg--red-dots-2 {
  &::after {
    content: '';
    background-image: url('../images/partnermax/shared/partnermax-bkg-red-dots-2.png');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    position: absolute;
    top: 0; //-180px;
    left: 0;
    height: 556px;
    width: 100%;
    z-index: -1;

    display: none;

    @media screen and ( min-width: $md ) {
      display: block;
    }
  }
}

.h-bkg--gradient-3 {
  background: rgb(16,0,196);
  background: linear-gradient(270deg, rgba(209,97,237,1) -15%, rgba(16,0,196,1) 50%, rgba(9,108,238,1) 110%);
}

.h-bkg--blue-dots {
  position: relative;

  &::before {
    content: '';
    background-image: url('../images/partnermax/shared/partnermax-bkg-blue-dots.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    position: absolute;
    bottom: -230px; //-180px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    @media screen and ( min-width: $md ) {
      display: block;
    }
  }
}

/////////// PAGES SECTIONS ////////////

.pages-content {
  overflow: hidden;

  .bob-h2 {
    margin-bottom: 24px;
  }

  .clamp-md-1 {
    @media screen and ( min-width: $md ) {
      min-height: calc( var(--lineheight) * 1 );  // minimum height is equivalent to twice the P line height
      -webkit-line-clamp: 1;
    }
  }

  .clamp-md-2 {
    @media screen and ( min-width: $md ) {
      min-height: calc( var(--lineheight) * 2 );  // minimum height is equivalent to twice the P line height
      -webkit-line-clamp: 2;
    }
  }

  .clamp-md-3 {
    @media screen and ( min-width: $md ) {
      min-height: calc( var(--lineheight) * 3 );  // minimum height is equivalent to twice the P line height
      -webkit-line-clamp: 3;
    }
  }

  // hero module

  .hero {

    .bob-header__image.direction-shift {
      @media screen and ( min-width: $md ) {
        direction: rtl;
      }

      @media screen and ( min-width: $lg ) {
        direction: ltr;
      }
    }

    .bob-button {
      margin-top: 24px;
    }
    .bob-p--large {
      margin-bottom: 0;

      @media screen and ( max-width: $sm ) {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
  
  // three cards modules

  .three-cards{

    .overlap-top {
      margin-top: -40px;

      @media screen and ( min-width: $md ) {
        margin-top: -80px;
      }

      @media screen and ( min-width: $lg ) {
        margin-top: -120px;
      }
    }

    .bob-card--image {

      @media screen and ( min-width: $md) {
        margin-bottom: 0;
      }

      .bob-card__img {
        @media screen and ( min-width: $sm) {
          height: 260px;
        }
        @media screen and ( min-width: $md) {
          height: 160px;
        }

        // only success page
        &.img-fit {
          img {
            object-fit: contain;
          }
        } // only success page
      }

      .bob-h3 {
        @media screen and ( min-width: $sm ) {
          @include ellipsis;
          min-height: calc( var(--lineheight) * 1 );  // minimum height is equivalent to twice the P line height
          -webkit-line-clamp: 1;
        }
      }
    }
  }

  // grid module

  .grid {

    // index button
    .bob-block__signup {
      width: 359px; // 230px button + 24 padding + 90 bkg image difference
      position: relative;

      @media screen and ( min-width: $sm ) {
        width: 415px;
      }
      
      div {
        line-height: 0;
        padding: 0 0;
        //position: relative;
        text-align: center;
        width: 230px; // button width
        height: 195px; // bkg height
        padding-top: 12px; //bkg position difference

        @media screen and ( min-width: $sm ) {
          width: 250px; // button width
          height: 255px; // bkg height
          padding-top: 24px; //bkg position difference
        }

        &::before {
          content: '';
          position: absolute;
          background: url('../images/partnermax/home/partnermax-join-list.jpg');
          background-repeat: no-repeat;
          background-size: 100%;
          left: 155px;
          top: 0;
          height: 100%;
          width: 190px;
          z-index: -1;

          @media screen and ( min-width: $sm ) {
            width: 250px;
          }
        }
      }

      .home-button-signup {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        display: inline-block;
        max-height: unset;
        padding: 12px 32px;
        border-radius: 32px;
        
        @media screen and ( min-width: $sm ) {
          font-size: 16px;
        }
      }
    } // index button

    &.browse-content {

      .bob-block__link-def {
        margin-top: 40px;
      }
  
      .bob-h2 {
        margin-bottom: 60px;
      }
      
      .bob-link {
        margin-bottom: 8px;
        display: block;
      }
  
      .eyebrow--mod {
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 60px;
        margin-bottom: 40px;
  
      }
    }

    // journey page
    &.h-mb-280 {
      @media screen and ( max-width: $sm ) {
        margin-bottom: 180px;
      }

    }

    .col__single {
      margin-bottom: 0;

      .h-bkg--blue-dots::before {
        @media screen and ( max-width: $sm ) {
          bottom: -130px;
        }
      }
    } //journey page end

    .col__second {

      .bob-block__signup, .bob-benefit {
        margin-top: 80px;

        @media screen and ( min-width: $md ) {
          margin-top: 0;
        }
      }
    }

    .bob-card--text-sm {
      .bob-p {
        @media screen and ( min-width: $md ) {
          min-height: calc( var(--lineheight) *  2);  // minimum height is equivalent to twice the P line height
          -webkit-line-clamp: 2;
        }
      }
    }

    .bob-benefit {
      .img__alliance-champion {
        max-width: 180px;
        
        @media screen and ( min-width: $sm ) {
          max-width: unset;
        }
        
        @media screen and ( min-width: $md ) {
          max-width: 180px;
        }
      }
    
      .img__marketing-cmo {
        width: 100%;
        max-width: 260px;
      }
    }

    .bob-benefit + .bob-benefit {
      margin-top: 80px;
    }
  }

  // wide-card module

  .wide-card {

    .bob-card-wide__img {
      background-color: var(--color-dark-navy);
      position: relative;

      .image_mob {
        display: block;
        height: unset;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        @media screen and ( min-width: $sm ) {
          display: none;
          height: 100%;
        }
      }
      
      .image_desk {
        display: none;
        @media screen and ( min-width: $sm ) {
          display: block;
        }
        @media screen and ( min-width: $md ) {
          height: 100%;
        }
      }
    }
  }

  // quote module

  .quote-slider {
    overflow: hidden;

    #quote-slider__carousel{
      
      &::before {
        content: '';
  
        @media screen and ( min-width: $md ) {
          background: url(https://training.mulesoft.com/oltpublish/cmsres/images/customer-quote-brand-pattern-desktop.svg) repeat-x center top;
          position: absolute;
          height: 100%;
          width: 820px;
          top: 0;
          right: unset;
          left: 73%;
        }
      }
    }

    .carousel-item {
      @media screen and ( min-width: $md ) {
        padding-top: 55px;
      }
    }

    .quote-slider__img {
      position: relative;

      img {
        border-radius: 50%;
        box-shadow: 0 0 1rem rgba(0,0,0,.08);
        max-width: 272px;
        margin: 1rem auto 0 auto;
        position: relative;

        @media screen and ( min-width: $md ) {
          margin-bottom: 1rem;
          max-width: 304px;
        }

        @media screen and ( min-width: $lg ) {
          margin-bottom: 1rem;
          max-width: 358px;
        }
      }
    }

    .quote-slider__txt {
      //padding-top: 25px;
      position: relative;
      margin-top: 79px;

      @media screen and ( min-width: $md ) {
        margin-top: 0px;
      }

      &::before {
        position: absolute;
        left: 12px;
        top: -55px;
        content: '';
        width: 70px;
        height: 47px;
        background: url(https://training.mulesoft.com/oltpublish/cmsres/images/quote-img.svg) no-repeat left top;

        @media screen and ( min-width: $sm ) {
          left: -28px;
        }
      }

      blockquote {
        font-family: var(--ff-head);
        font-weight: bold;
        //font-size: var(--fs-h3); // 33px
        //line-height: 2rem; // 44px
        font-size: var(--fs-h2); // 33px
        line-height: 2.75rem; // 44px
        margin: 0 0 32px 0;

        @media screen and ( min-width: $lg ) {
          margin: 0 0 64px 0;
        }
      }

      figcaption {
        font-size: 16px;
        line-height: 30px;

        @media screen and ( min-width: $sm ) {
          font-size: var(--fs-h3);
        line-height: 2rem;
        }
      }
    }
  }
}
