<main>
  <div id="pm-alliance" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Alliance &amp; Sales <br class="d-lg-none">Leads<br><span class="bob-h1--color"></span></h1>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/alliance/partnermax-alliance-sales-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/alliance/partnermax-alliance-sales-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- 3cards START -->
  <section class="three-cards h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top overlap-top h-bkg--solid-bluez h-bkg--red-dots">
        <div class="col-12 col-md-4 card_01">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://drive.google.com/open?id=1YU5x9DqI0xuOMVloK02h9rSNhGJMMGwi" target="_blank" class="bob-card__link-cover"><span>Watch</span></a>
            <div class="bob-card__img">
              <img src="../images/partnermax/alliance/partnermax-card-need-to-know.png" alt="">
            </div>
            <div class="bob-card__txt"><h3 class="bob-h3">Need-to-know guide</h3>
              <p class="bob-p">Watch this video to learn key steps you can take to succeed with MuleSoft.</p>
              <a href="https://drive.google.com/open?id=1YU5x9DqI0xuOMVloK02h9rSNhGJMMGwi" target="_blank" class="bob-link bob-link--carot "><span>Watch</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_02">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://www.mulesoft.com/integration-partner/program/calendar" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="../images/partnermax/alliance/partnermax-card-find-event.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3">Find an event</h3>
              <p class="bob-p">Grow your skills and knowledge through MuleSoft's upcoming webinars and events.</p>
              <a href="https://www.mulesoft.com/integration-partner/program/calendar" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_03">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://mulesoftprm.force.com/partners/login" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="../images/partnermax/alliance/partnermax-card-register-deal.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3">Register a deal</h3>
              <p class="bob-p">Log a deal with MuleSoft today.</p>
              <a href="https://mulesoftprm.force.com/partners/login" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>

      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- grid 2/3 START -->
  <section class="grid h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__first col-12 col-sm-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-center">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://mulesoftpartners.bloomfire.com/posts/4627206-client-account-lead-message" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Alliance & sales</span>
                  <h3 class="bob-h3">Account lead messaging</h3>
                  <p class="bob-p">Use this template with Client Account Leads or Industry Leads.</p><a href="https://mulesoftpartners.bloomfire.com/posts/4627206-client-account-lead-message" target="_blank" class="bob-link bob-link--carot "><span>View<br></span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjE2NDA2ODIsInRhc2tGb3JtSWQiOjE3MDYzNn0JNDY5NzgxNjMxMjM4MAk3MmQxMjU0NzY2ZTE3NWYzYjUxY2YxYTE3OTQyOGE1YWU0OWU0ODY5N2ZlNGM0ZjJmMjY3NGY4ZDM5YjY2YTI5" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Alliance & sales</span>
                  <h3 class="bob-h3">Edit partner page</h3>
                  <p class="bob-p">Update your company's listing on MuleSoft.com</p><a href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjE2NDA2ODIsInRhc2tGb3JtSWQiOjE3MDYzNn0JNDY5NzgxNjMxMjM4MAk3MmQxMjU0NzY2ZTE3NWYzYjUxY2YxYTE3OTQyOGE1YWU0OWU0ODY5N2ZlNGM0ZjJmMjY3NGY4ZDM5YjY2YTI5" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://meetups.mulesoft.com/speak-at-a-mulesoft-meetup/" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Alliance & sales</span>
                  <h3 class="bob-h3">Speak at a Meetup</h3>
                  <p class="bob-p">Take the stage at an upcoming MuleSoft Meetup.</p><a href="https://meetups.mulesoft.com/speak-at-a-mulesoft-meetup/" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <!-- grid END -->

        <div class="col__second col-12 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std bkg-inverted--dark-navy">
            <div class="bob-benefit__img">
              <img class="img_sm img__alliance-champion" src="../images/partnermax/alliance/partnermax-logo-champion-sm.png" alt="MuleSoft Champion logo">
            </div>
            <div class="bob-benefit__txt">
              <h3 class="bob-h3">Become a champion</h3>
              <p class="bob-p">Build your brand by becoming a leader in the MuleSoft community as an Industry or GTM&nbsp;Champion.</p>
              <a href="https://blogs.mulesoft.com/news/mulesoft-champions/" target="_blank" class="bob-button">Learn more</a>
            </div>
          </article>
          <!-- benefit END -->
        </div>

      </div>
    </div>
  </section>
  <!-- grid 2/3 END -->

  <!-- grid 2/3 START -->
  <section class="grid browse-content h-mb-80">
    <div class="container">
     <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- START -->
        <div class="col__first col-12 col-lg-8">
          <h2 class="bob-h2">Browse through all relevant content!</h2>
          <h3 class="bob-h3 eyebrow--mod">Key content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="https://mulesoftpartners.bloomfire.com/posts/2529210-technical-discovery-partner-technical-kiosk" target="_blank" class="bob-link  "><span class="bob-h3">Discovery & objective handling</span></a>
              <p class="bob-p">Prepare yourself for technical discovery and objections for your prospects by using these templates.</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://mulesoftpartners.bloomfire.com/posts/3298419-api-led-connectivity-rfi-template-v2" target="_blank" class="bob-link  "><span class="bob-h3">Access API-led Connectivity RFI template</span></a>
              <p class="bob-p">Use this template to help guide prospects toward an API-led connectivity platform. </p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://drive.google.com/open?id=1ZV0K7XHcSercaZU-epXaGVQLPqJaE_UN" target="_blank" class="bob-link  "><span class="bob-h3">MuleSoft Partner Program Guide 2022</span></a>
              <p class="bob-p">Review MuleSoft's 2022 SI Program details and requirements.</p>
            </div>
          </article>

          <h3 class="bob-h3 eyebrow--mod">Other content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/resources/api/what-is-an-api" target="_blank" class="bob-link  "><span class="bob-h3">What is an API?</span></a>
              <p class="bob-p">Watch a quick video to  start your understanding about what is an API</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://share.vidyard.com/watch/1kvoxjhJd64CL3PqPBhKZm?" target="_blank" class="bob-link  "><span class="bob-h3">How to articulate the value of integration</span></a>
              <p class="bob-p">Take 20-minutes to learn how to communicate the value of integration to your customers business</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/lp/reports/connectivity-benchmark" target="_blank" class="bob-link  "><span class="bob-h3">Connectivity Benchmark Reports</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/lp/reports/connectivity-benchmark" target="_blank" class="bob-link  "><span class="bob-h3">What is MuleSoft</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://videos.mulesoft.com/watch/KWRZJ3r3JC3WaQMPy8oA5z" target="_blank" class="bob-link  "><span class="bob-h3">What is Application Network</span></a>
            </div>
          </article>

        </div>
        <!-- END -->

      </div>
    </div>
  </section>
  <!-- grid 2/3 END -->
  
  </div>
</main>
