<main>
  <div id="pm-delivery" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Delivery <br class="d-lg-none">Leads<br><span class="bob-h1--color"></span></h1>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/delivery/partnermax-delivery-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/delivery/partnermax-delivery-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- 3cards START -->
  <section class="three-cards h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center overlap-top h-bkg--solid-bluez h-bkg--red-dots">
        <div class="col-12 col-md-4 card_01">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://trailhead.salesforce.com/en/content/learn/trails/mulesoft-integration-trailblazer" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="../images/partnermax/delivery/partnermax-card-integration.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Integration Trailhead</h3>
              <p class="bob-p">Become an integration expert with this guided learning course</p>
              <a href="https://trailhead.salesforce.com/en/content/learn/trails/mulesoft-integration-trailblazer" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_02">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://share.vidyard.com/watch/iNV3tcyoDvQUAK2wQtc9BU?" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="../images/partnermax/delivery/partnermax-card-catalyst.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Intro to Catalyst</h3>
              <p class="bob-p">Achieve key outcomes while avoiding common pitfalls with MuleSoft Catalyst.</p>
              <a href="https://share.vidyard.com/watch/iNV3tcyoDvQUAK2wQtc9BU?" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_03">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://mulesoftpartners.bloomfire.com/posts/4322189-developer-community-resources" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__img">
              <img src="../images/partnermax/delivery/partnermax-card-dev-community.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3 clamp-md-2">Developer community resources</h3>
              <p class="bob-p">Developer how-tos, integration strategy, and Community blogs.</p>
              <a href="https://mulesoftpartners.bloomfire.com/posts/4322189-developer-community-resources" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>

      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- grid 2/3 START -->
  <section class="grid h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__first col-12 col-sm-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="https://mulesoftpartners.bloomfire.com/posts/2793189-" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">Get you team certified</h3>
                  <p class="bob-p">Find the right MuleSoft Training & Certification programs for you.</p><a href="https://mulesoftpartners.bloomfire.com/posts/2793189-" target="_blank" class="bob-link bob-link--carot "><span>View<br></span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="https://knowledgehub.mulesoft.com/s/faq" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">Catalyst FAQ</h3>
                  <p class="bob-p">Review the answers to our FAQ for MuleSoft Catalyst.</p><a href="https://knowledgehub.mulesoft.com/s/faq" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="https://trailhead.salesforce.com/en/search?keywords=catalyst" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">Trailhead for Catalyst</h3>
                  <p class="bob-p">Learn how the MuleSoft Catalyst delivery methodology can help businesses innovate and scale faster.</p><a href="https://trailhead.salesforce.com/en/search?keywords=catalyst" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--dark-navy">
                <a href="https://training.mulesoft.com/certification/architect-integration-level1" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Delivery</span>
                  <h3 class="bob-h3">MuleSoft Certified Inegration Arechitect - Level 1</h3>
                  <p class="bob-p">Become a Certified Architect & drive your customers' implemtations</p><a href="https://training.mulesoft.com/certification/architect-integration-level1" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
          </div>
        </div>
        <!-- grid END -->

        <div class="col__second col-12 col-md-4">
        </div>

      </div>
    </div>
  </section>
  <!-- grid 2/3 END -->

  <!-- grid 2/3 START -->
  <section class="grid browse-content h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__first col-12 col-lg-8">
          <h2 class="bob-h2">Browse through all relevant content!</h2>
          <h3 class="bob-h3 eyebrow--mod">Other content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/resources/api/what-is-an-api" target="_blank" class="bob-link  "><span class="bob-h3">What is an API?</span></a>
              <p class="bob-p">Watch a quick video to  start your understanding about what is an API</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://share.vidyard.com/watch/1kvoxjhJd64CL3PqPBhKZm?" target="_blank" class="bob-link  "><span class="bob-h3">How to articulate the value of integration</span></a>
              <p class="bob-p">Take 20-minutes to learn how to communicate the value of integration to your customers business</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/lp/reports/connectivity-benchmark" target="_blank" class="bob-link  "><span class="bob-h3">Connectivity Benchmark Reports</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.salesforce.com/blog/2019/11/what-is-mulesoft.html" target="_blank" class="bob-link  "><span class="bob-h3">What is MuleSoft</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://videos.mulesoft.com/watch/KWRZJ3r3JC3WaQMPy8oA5z" target="_blank" class="bob-link  "><span class="bob-h3">What is Application Network</span></a>
            </div>
          </article>

        </div>
        <!-- grid END -->

      </div>
    </div>

  </section>
  <!-- grid 2/3 END -->

  </div>
</main>
