<main>
  <div id="pm-industry" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid h-mb-80">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Industry-focused content<span class="bob-h1--color"></span></h1>
                <!--p class="bob-p--large"></p>
                <a href="#" target="_blank" class="bob-button"></a>-->
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/industry/partnermax-industry-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/industry/partnermax-industry-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- wide-card START -->
  <section class="wide-card h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top h-bkg--red-dots-2">
        <h2 class="bob-h2">Featured content</h2>
      </div>
      <div class="row justify-content-center justify-content-sm-start">
        <div class="col-12">
          <!-- card START -->
          <article class="bob-card-wide bob-card-wide--12col bob-card-wide--col-swap">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="bob-card-wide__img">
                  <img src="../images/partnermax/industry/partnermax-one-salesforce-need-to-know.png" alt="" class="image_desk">
                  <img src="../images/partnermax/industry/partnermax-one-salesforce-need-to-know.png" alt=""  class="image_mob" width="796">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="bob-card-wide__txt">
                  <span class="bob-eyebrow--small">Industry-focused content</span>
                  <h3 class="bob-h3">Your industry need-to-know guide</h3>
                  <p class="bob-p">Get to know MuleSoft's industry-first approach in this video.</p><a href="https://drive.google.com/file/d/1raE9Ohzt-UXXRn2bZUBL3slfp-j6SbF_/view" class="bob-link bob-link--carot "><span>Watch video</span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- wide-card END -->

  <!-- grid 2/3 START -->
  <section class="grid browse-content h-mb-80">
    <div class="container">
     <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__first col-12 col-lg-8">
          <h2 class="bob-h2">Browse through all relevant content!</h2>
          <h3 class="bob-h3 eyebrow--mod">Industry focused content</h3>
          <article class="bob-block__link-def">
            <div>
              <a href="https://drive.google.com/file/d/1iBsXsFItSeUEH5Ptk6pZVuR3KplYPXRO/view?usp=sharing" target="_blank" class="bob-link  "><span class="bob-h3">Insurance Demo Marketing Video</span></a>
              <p class="bob-p">See a real example of how MuleSoft is supporting the insurance industry</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://drive.google.com/file/d/1N1NKSNDcDOiBPK8S8-15BWQvAmK_8u-Q/view?usp=sharing" target="_blank" class="bob-link  "><span class="bob-h3">Industry Data Sheet</span></a>
              <p class="bob-p">Customer ready data sheet </p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/d/1pIa3qgMaHQjsrxiWgG_EJyThwFvdA4AXWLva4-EM_NU/edit?usp=sharing" target="_blank" class="bob-link  "><span class="bob-h3">Banking + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the banking industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/d/1K8w98OfOHluT_b740NvlpokLF3bXbZXbBJ97DXDrtcE/edit?usp=sharing" target="_blank" class="bob-link  "><span class="bob-h3">Insurance + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the insurance industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/d/1Cr5o245vT2VxLm2HuAkeBXxvyPsh3aryhr5j-8ZBZS4/edit?usp=sharing" target="_blank" class="bob-link  "><span class="bob-h3">Wealth & Asset Management + MuleSoft 101</span></a>
              <p class="bob-p">Trends & integration challenges for wealth & asset management + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1rchykbzeuLVgif0ujjKzNnIhoOZK53ftQn7WHPHp_co/edit" target="_blank" class="bob-link  "><span class="bob-h3">Retail  + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the retail industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://drive.google.com/file/d/1v2CI1Hc_inXWtYg6HU0fMOPhdVt-DcCm/view?usp=sharing" target="_blank" class="bob-link  "><span class="bob-h3">Retail L2</span></a>
              <p class="bob-p">Banking industry trends and integration challenges</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1HrDe5A7ODhVf6rDXjPOraDlUd6153uyVxrOQUgIPu9A/edit" target="_blank" class="bob-link  "><span class="bob-h3">Consumer Goods + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for consumer goods + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1NzjM0-x8jAXmLr0-6EuGmsBZAyXzvhRNxy36VTc4KXU/edit" target="_blank" class="bob-link  "><span class="bob-h3">Communications + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the communications industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1-K2TIlMMYfQv6NHUpq1dXgl9Upj0hQhkXE8AgqMDgYQ/edit" target="_blank" class="bob-link  "><span class="bob-h3">Media  + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the media industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1lyxqpvjFbHNSEUP-ftjnbQvnKnGOk4m4CoIpKozdKow/edit" target="_blank" class="bob-link  "><span class="bob-h3">Technology + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the technology industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/107hPlplK6qIwZzpbMH6gevDLrudG5csotUacyxnN36s/edit" target="_blank" class="bob-link  "><span class="bob-h3">Travel, Transporation, & Hospitality  + MuleSoft 101</span></a>
              <p class="bob-p">Industry trends and integration challenges</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" target="_blank" class="bob-link  "><span class="bob-h3">Public Sector + MuleSoft 101</span></a>
              <p class="bob-p">Industry trends and integration challenges</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="#" target="_blank" class="bob-link  "><span class="bob-h3">Manufacturing + MuleSoft 101</span></a>
              <p class="bob-p">Industry trends and integration challenges</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1Xwf512bu73oc-Bg0Lv0gdsShyQEYnutSXZ_iy__s9bs/edit" target="_blank" class="bob-link  "><span class="bob-h3">Payers  + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for payers + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1vMnD83V0DWjxD6HilCc-KXV0I6Uib81dmypI3sWHyzU/edit" target="_blank" class="bob-link  "><span class="bob-h3">Life Sciences + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for the life sciences industry + MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1w4uox_Jr8LfJxZ1tVp5PQY52WOu9tFbog5gPFNigU-I/edit" target="_blank" class="bob-link  "><span class="bob-h3">Providers + MuleSoft 101</span></a>
              <p class="bob-p">Learn trends & integration challenges for providers + MuleSoft</p>
            </div>
          </article>
          
          <h3 class="bob-h3 eyebrow--mod">Other content</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/resources/api/what-is-an-api" target="_blank" class="bob-link  "><span class="bob-h3">What is an API?</span></a>
              <p class="bob-p">Watch a quick video to  start your understanding about what is an API</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://share.vidyard.com/watch/1kvoxjhJd64CL3PqPBhKZm?" target="_blank" class="bob-link  "><span class="bob-h3">How to articulate the value of integration</span></a>
              <p class="bob-p">Take 20-minutes to learn how to communicate the value of integration to your customers business</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/lp/reports/connectivity-benchmark" target="_blank" class="bob-link  "><span class="bob-h3">Connectivity Benchmark Reports</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.salesforce.com/blog/2019/11/what-is-mulesoft.html" target="_blank" class="bob-link  "><span class="bob-h3">What is MuleSoft</span></a>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://videos.mulesoft.com/watch/KWRZJ3r3JC3WaQMPy8oA5z" target="_blank" class="bob-link  "><span class="bob-h3">What is Application Network</span></a>
            </div>
          </article>

          <h3 class="bob-h3 eyebrow--mod">Customer Stories</h3>

          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/case-studies/api/unilever" target="_blank" class="bob-link  "><span class="bob-h3">Unilever</span></a>
              <p class="bob-p">The power of MuleSoft & Salesforce at Unilever</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/case-studies/api/asics" target="_blank" class="bob-link  "><span class="bob-h3">ASICS</span></a>
              <p class="bob-p">Learn about ASICS' transformation with MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1IM79aHxTgwC_bSifElESIHIxOKDByDB7T2ecLl_lI9g/edit" target="_blank" class="bob-link  "><span class="bob-h3">Land O Lakes</span></a>
              <p class="bob-p">Creating connected eCommerce experiences with shared supply chain data</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1X-C0gFdmsll_dWsJKM1ZHVq-30Lt6fSJjkzfA1Jkmrw/edit" target="_blank" class="bob-link  "><span class="bob-h3">RBC Wealth Management</span></a>
              <p class="bob-p">Creating best-in-class onboarding with MuleSoft</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1LfngI_x4HzLwDV_mA2QmTZa3mq54W8azs25I05loqxY/edit" target="_blank" class="bob-link  "><span class="bob-h3">AMGEN</span></a>
              <p class="bob-p">Improving Patient & Employee Experience with Salesforce</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1Sa-yPZbDhF7Mrj-Fl_SAKevH3F2uGbL9okRebaHXnDI/edit" target="_blank" class="bob-link  "><span class="bob-h3">Banque de Luxembourg</span></a>
              <p class="bob-p">Lorem ipsum dolor sit amet, consectur adipiscing elit</p>
            </div>
          </article>

        </div>
        <!-- grid END -->

        <div class="col__second col-12 col-md-4">
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std bkg-inverted--dark-navy">
            <div class="bob-benefit__img">
              <img class="img_sm img__alliance-champion" src="../images/partnermax/industry/partnermax-logo-champion.png" alt="MuleSoft Champion logo">
            </div>
            <div class="bob-benefit__txt">
              <h3 class="bob-h3">Become an Industry Champion</h3>
              <p class="bob-p">Establish yourself as a leader in the MuleSoft space by becoming and Industry Champion.</p>
              <a href="https://blogs.mulesoft.com/news/mulesoft-champions/" target="_blank" class="bob-button">Learn more</a>
            </div>
          </article>
          <!-- benefit END -->
          <!-- benefit START -->
          <article class="bob-benefit bob-benefit--std bkg-inverted--dark-navy">
            <div class="bob-benefit__img">
              <img class="img_sm img__alliance-champion" src="../images/partnermax/industry/partnermax-success-story.png" alt="Success story image">
            </div>
            <div class="bob-benefit__txt">
              <h3 class="bob-h3">Submit a success story</h3>
              <p class="bob-p">Request a customer success story to be featured internally or externaly.</p>
              <a href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjE2NDA2ODIsInRhc2tGb3JtSWQiOjM2MTMxMX0JNDc5ODY2NjUwNTIxNQliMjVlNDhlMDM1MjFlMmYxNTk4YjJmNWEyNzBlNzZmY2YyN2JkZjc1N2YxODA3M2VkOTM3MWNlM2RlNDhmZjE5" target="_blank" class="bob-button">Learn more</a>
            </div>
          </article>
          <!-- benefit END -->
        </div>
        <!-- END -->

      </div>
    </div>
  </section>
  <!-- grid 2/3 END -->

  
  </div>
</main>
