<main>
  <div id="pm-journey" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid h-mb-80">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Partner Kickstart<span class="bob-h1--color"></span></h1>
                <p class="bob-p--large">The MuleSoft Partner Kickstart is a highly informative journey that will give your team a comprehensive understanding of the MuleSoft Market, Value Proposition, and an introduction to the Platform.
                  <br><br>
                Time to complete - 1 week.</p>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/journey/partnermax-journey-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/journey/partnermax-journey-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- grid START -->
  <section class="grid h-mb-280">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top h-mb-60">
        <h2 class="bob-h2">Partner Kickstart</h2>
        <h3 class="bob-h3 eyebrow--24">Partner Kickstart</h3>
      </div>
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__single col-12">
          <div class="row justify-content-center justify-content-sm-start align-items-top h-bkg--blue-dots">
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 01</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1asDawjdWRlglYTuncKPh4yzNr0f7dMwzlKHxW2I55Ak/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">35 mins</span>
                  <h3 class="bob-h3 clamp-md-2">MuleSoft’s Market & Messaging</h3>
                  <a href="https://docs.google.com/presentation/d/1asDawjdWRlglYTuncKPh4yzNr0f7dMwzlKHxW2I55Ak/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 02</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1yuYNhOaQxi6Dinp_iaHcxoEXykqJZz8Cpf2O9gOpMbM/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">40 mins</span>
                  <h3 class="bob-h3 clamp-md-2">Introduction to API Led Connectivity</h3>
                  <a href="https://docs.google.com/presentation/d/1yuYNhOaQxi6Dinp_iaHcxoEXykqJZz8Cpf2O9gOpMbM/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 03</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1OtuLAGSN6t_VBZupfYBMr7-M-Q_Q7Lm0Q8zU66emJBk/edit#slide=id.g122ab0dab76_0_144" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">75 mins</span>
                  <h3 class="bob-h3 clamp-md-2">Overview of MuleSoft Anypoint Platform</h3>
                  <a href="https://docs.google.com/presentation/d/1OtuLAGSN6t_VBZupfYBMr7-M-Q_Q7Lm0Q8zU66emJBk/edit#slide=id.g122ab0dab76_0_144" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- grid END -->

  <!-- grid START -->
  <section class="grid h-mb-280">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__single col-12">
          <div class="row justify-content-center justify-content-sm-start align-items-top  h-bkg--blue-dots">
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 04</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1b5FZsHb3HYFNFMytFs9ebHeb60JLD45JFj4-UOfr2X8/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">45 mins</span>
                  <h3 class="bob-h3 clamp-md-2">Competition & Differentiation Overview</h3>
                  <a href="https://docs.google.com/presentation/d/1b5FZsHb3HYFNFMytFs9ebHeb60JLD45JFj4-UOfr2X8/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 05</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1jX6_vvKdxyK5o93sXSomG5F1wRvO4e9JVI5V1n4bj3c/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">60 mins</span>
                  <h3 class="bob-h3 clamp-md-2">Reframing the Conversation</h3>
                  <a href="https://docs.google.com/presentation/d/1jX6_vvKdxyK5o93sXSomG5F1wRvO4e9JVI5V1n4bj3c/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 06</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1VX_Nwll4jRAbSC_FIa7M5V8GDxC513hl6N8RnwDtjiY/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">45 mins</span>
                  <h3 class="bob-h3 clamp-md-2">Catalyst Resources</h3>
                  <a href="https://docs.google.com/presentation/d/1VX_Nwll4jRAbSC_FIa7M5V8GDxC513hl6N8RnwDtjiY/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- grid END -->

  <!-- grid START -->
  <section class="grid h-mb-280">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__single col-12">
          <div class="row justify-content-center justify-content-sm-start align-items-top  h-bkg--blue-dots">
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 07</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1a1psv8NW3uxJQCEsPvkL8UIq9wgNVyzFrhgZthLteFw/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">90 mins</span>
                  <h3 class="bob-h3 clamp-md-2">Product Highlights</h3>
                  <a href="https://docs.google.com/presentation/d/1a1psv8NW3uxJQCEsPvkL8UIq9wgNVyzFrhgZthLteFw/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 08</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1AaWhyjloJBzzCixAE6WzKmkpLbF0TA0zuBzToBXEet8/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">30 mins</span>
                  <h3 class="bob-h3 clamp-md-2">MuleSoft Practice Development</h3>
                  <a href="https://docs.google.com/presentation/d/1AaWhyjloJBzzCixAE6WzKmkpLbF0TA0zuBzToBXEet8/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 09</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1ElX910nGi4GoX04QRxtz4fiUo5_EUzxv_Mlr-6aoBt4/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">75 mins</span>
                  <h3 class="bob-h3 clamp-md-2">MuleSoft Opportunities, Identifying & Entry Points</h3>
                  <a href="https://docs.google.com/presentation/d/1ElX910nGi4GoX04QRxtz4fiUo5_EUzxv_Mlr-6aoBt4/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- grid END -->

  <!-- grid START -->
  <section class="grid h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__single col-12">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 10</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1bCnRnJz9_oIYdRgozXgArnrxAgUkpgfNMxkWO87G6p4/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">45 mins</span>
                  <h3 class="bob-h3 clamp-md-1">Packaging & Sizing</h3>
                  <a href="https://docs.google.com/presentation/d/1bCnRnJz9_oIYdRgozXgArnrxAgUkpgfNMxkWO87G6p4/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 11</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://drive.google.com/file/d/12HQtCslNI8O-707BGzdtkPwwsqC2Xdwx/view?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">TBC</span>
                  <h3 class="bob-h3 clamp-md-1">Capstone Exercise</h3>
                  <a href="https://drive.google.com/file/d/12HQtCslNI8O-707BGzdtkPwwsqC2Xdwx/view?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <h3 class="bob-h3 eyebrow--20">Step 12</h3>
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/document/d/1J6w5sI146XeaI1Ewxwvapt1kcgLfCz7BoEv3vOVIwcM/edit" target="_blank" class="bob-card__link-cover"><span>View course</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">10 mins</span>
                  <h3 class="bob-h3 clamp-md-1">Final menti Quiz</h3>
                  <a href="https://docs.google.com/document/d/1J6w5sI146XeaI1Ewxwvapt1kcgLfCz7BoEv3vOVIwcM/edit" target="_blank" class="bob-link bob-link--carot "><span>View course</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- grid END -->

  </div>
</main>
