<main>
  <div id="pm-mresources" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Marketing Resources<span class="bob-h1--color"></span></h1>
                <!--p class="bob-p--large"></p>
                <a href="#" target="_blank" class="bob-button"></a>-->
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/marketing-resources/partnermax-marketing-banner-desktop.png" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/marketing-resources/partnermax-marketing-banner-mobile.png" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- 3cards START -->
  <section class="three-cards h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center overlap-top h-solid-bkg--bluez">
        <div class="col-12 col-md-4 card_01">
          <!-- card START -->
          <article class="bob-card bob-card--image  bob-card--border h-border--navy">
            <a href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjE2NDA2ODIsInRhc2tGb3JtSWQiOjM2MTMxMX0JNDc1MDM1MjY0NjY1NAk0ODEwNDcxODA1MjAxODA5MDZmNzQ3MWNkODg3YmU2NjRlM2E1NGZiYTViOWU1MzJjYjYwM2EzNGVmNmFiMjNm" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__txt">
              <span class="bob-eyebrow--small">Resources</span>
              <h3 class="bob-h3">Marketing Request form</h3>
              <p class="bob-p">Request support for special events, customer stories & more.</p>
              <a href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjE2NDA2ODIsInRhc2tGb3JtSWQiOjM2MTMxMX0JNDc1MDM1MjY0NjY1NAk0ODEwNDcxODA1MjAxODA5MDZmNzQ3MWNkODg3YmU2NjRlM2E1NGZiYTViOWU1MzJjYjYwM2EzNGVmNmFiMjNm" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_02">
          <!-- card START -->
          <article class="bob-card bob-card--image  bob-card--border h-border--navy">
            <a href="https://mulesoftpartners.bloomfire.com/posts/2715667" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__txt">
              <span class="bob-eyebrow--small">Resources</span>
              <h3 class="bob-h3">Partner PR Guidelines</h3>
              <p class="bob-p">Follow these guidelines to comply with MuleSoft's PR rules & best practices.</p>
              <a href="https://mulesoftpartners.bloomfire.com/posts/2715667" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4 card_03">
          <!-- card START -->
          <article class="bob-card bob-card--image  bob-card--border h-border--navy">
            <a href="https://drive.google.com/open?id=1tj88uEgStKIJNXcSGCi3e1a_PSPZdoGj" target="_blank" class="bob-card__link-cover"><span>View</span></a>
            <div class="bob-card__txt">
              <span class="bob-eyebrow--small">Resources</span>
              <h3 class="bob-h3">Branding guidelines & logos</h3>
              <p class="bob-p">Follow these branding guidelines to comply with our rules & best practices.</p>
              <a href="https://drive.google.com/open?id=1tj88uEgStKIJNXcSGCi3e1a_PSPZdoGj" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>

      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- wide-card START -->
  <section class="wide-card h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start">
        <div class="col-12">
          <!-- card START -->
          <article class="bob-card-wide bob-card-wide--12col bob-card-wide--col-swap">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="bob-card-wide__img">
                  <img src="../images/partnermax/marketing-resources/partnermax-ms-pm-desktop.png" alt="" class="image_desk">
                  <img src="../images/partnermax/marketing-resources/partnermax-ms-pm-mobile.png" alt="" class="image_mob" width="796">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="bob-card-wide__txt">
                  <span class="bob-eyebrow--small">Marketing</span>
                  <h3 class="bob-h3">Your marketing need-to-know guide:</h3>
                  <p class="bob-p">Watch this video to learn about top programs and activites for Marketers.</p><a href="https://drive.google.com/file/d/1fZo2j3oQze6a_NzQ5Kl3X6Tb2lmCJn3X/view?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- wide-card END -->

  <!-- banner START -->
  <section class="banner h-mb-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- banner START -->
          <article class="bob-banner bkg-inverted--dark-navy h-bkg--gradient-3 align-items-center">
            <div class="bob-banner__texts">
              <h2 class="bob-h2">Watch all your favorite moments from MuleSoft PKO!</h2><a tabindex="0" href="#" target="_blank" class="bob-button">Watch now</a>
            </div>
          </article>
          <!-- banner END -->
          </div>
        </div>
    </div>
  </section>
  <!-- banner END -->

  </div>
</main>
