<main>
  <div id="pm-one" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid h-mb-80">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">One Salesforce<span class="bob-h1--color"></span></h1>
                <p class="bob-p--large">Unleash the full power of Salesforce Customer 360 with MuleSoft to deliver immediate, accelerated value&nbsp;today.</p>
                <!--<a href="#" target="_blank" class="bob-button"></a>-->
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/one-salesforce/partnermax-one-salesforce-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/one-salesforce/partnermax-one-salesforce-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- wide-card START -->
  <section class="wide-card h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <h2 class="bob-h2">Featured content</h2>
      </div>
      <div class="row justify-content-center justify-content-sm-start">
        <div class="col-12">
          <!-- card START -->
          <article class="bob-card-wide bob-card-wide--12col bob-card-wide--col-swap">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="bob-card-wide__img">
                  <img src="../images/partnermax/one-salesforce/partnermax-one-salesforce-sf-ms.png" alt="" class="image_desk">
                  <img src="../images/partnermax/one-salesforce/partnermax-one-salesforce-sf-ms.png" alt="" class="image_mob" width="796">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="bob-card-wide__txt">
                  <span class="bob-eyebrow--small">Featured Story</span>
                  <h3 class="bob-h3">Transform your business with Salesforce and MuleSoft</h3>
                  <p class="bob-p">Unleash the power of Salesforce Customer 360 through integration.</p><a href="https://drive.google.com/file/d/1gJzQhWl2DmREiVqvBPjOzvgxJgKoQvq-/view?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- wide-card END -->

  <!-- roles START -->
  <section class="grid h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__first col-12 col-md-8 col-lg-10">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://resources.mulesoft.com/ty-wp-mulesoft-salesforce-integration.html" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">One salesforce</span>
                  <h3 class="bob-h3 clamp-md-2">Power connected experiences with Salesforce integration</h3>
                  <p class="bob-p">Integrate Salesforce with any cloud or on-premises system to transform your digital business.</p>
                  <a href="https://resources.mulesoft.com/ty-wp-mulesoft-salesforce-integration.html" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://share.vidyard.com/watch/uwTZ9KqkSP9aRfPwjrXQu6?" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">One salesforce</span>
                  <h3 class="bob-h3 clamp-md-2">Build a connected Digital HQ with MuleSoft and Slack</h3>
                  <p class="bob-p">Increase productivity and efficiency across your enterprise by connecting your apps, your people, and your digital HQ with MuleSoft and Slack.</p>
                  <a href="https://share.vidyard.com/watch/uwTZ9KqkSP9aRfPwjrXQu6?" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://share.vidyard.com/watch/KRF5de6S7WTb8i22DjZQfj?" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">One salesforce</span>
                  <h3 class="bob-h3 clamp-md-2">Build an architecture for the future</h3>
                  <p class="bob-p">Use the power of MuleSoft and Salesforce to build an architecture for change with APIs and loosely-coupled applications.</p>
                  <a href="https://share.vidyard.com/watch/KRF5de6S7WTb8i22DjZQfj?" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text bob-card--border h-border--seaserpent">
                <a href="https://share.vidyard.com/watch/DKRPL21dSzjiFSi9CS3HUY?" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">One salesforce</span>
                  <h3 class="bob-h3 clamp-md-2">Demo:  Mulesoft + Tableau</h3>
                  <p class="bob-p">This demo will show you how you can unlock the true power of your data with MuleSoft, Tableau, and Slack.</p>
                  <a href="https://share.vidyard.com/watch/DKRPL21dSzjiFSi9CS3HUY?" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- roles END -->
  
  <!-- quote START -->
  <section class="quote-slider h-mb-80">
    <div class="container">
      <div id="quote-slider__carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row justify-content-center justify-content-md-start">
              <div class="quote-slider__img col-10 col-md-4 order-md-2">
                <img src="../images/partnermax/one-salesforce/partnermax-one-salesforce-eric-es.png" class="d-block w-100" alt="">
              </div>
              <div class="quote-slider__txt col-12 col-sm-10 col-md-5 offset-md-1 col-md-6 order-md-1">
                <figure class="quote">
                  <blockquote>
                    We know from research that 54% of our Salesforce customers plan to buy MuleSoft."
                  </blockquote>
                  <figcaption>
                    <strong>Eric Eyken-Sluyters</strong><br>
                    Chief Revenue Officer, MuleSoft
                  </figcaption>
                </figure>
                <a href="https://share.vidyard.com/watch/n8b9SRuNRSfHLhcvnuXjUR?" target="_blank" class="bob-link bob-link--carot "><span>Learn more</span></a>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>
  <!-- quote END -->

  <!-- grid 2/3 START -->
  <section class="grid browse-content h-mb-80">
    <div class="container">
     <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- START -->
        <div class="col__first col-12 col-lg-8">
          <h2 class="bob-h2">Customer  Stories</h2>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1IM79aHxTgwC_bSifElESIHIxOKDByDB7T2ecLl_lI9g/edit" target="_blank" class="bob-link  "><span class="bob-h3">Land O’Lakes</span></a>
              <p class="bob-p">Land O'Lakes created a connected eCommerce experience with shared supply chain data.</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/case-studies/api/royal-bank-of-canada" target="_blank" class="bob-link  "><span class="bob-h3">RBC Wealth Management</span></a>
              <p class="bob-p">Creating best-in-class onboarding with MuleSoft and Salesforce.</p>
            </div>
          </article>
          <article class="bob-block__link-def">
            <div>
              <a href="https://www.mulesoft.com/case-studies/api/unilever" target="_blank" class="bob-link  "><span class="bob-h3">Unilever</span></a>
              <p class="bob-p">Unilever unifies the eCommerce experience across their portfolio of brands with reusable services - launching new digitial initiatives 3-4x faster.</p>
            </div>
          </article>

        </div>
        <!-- END -->

      </div>
    </div>
  </section>
  <!-- grid 2/3 END -->

  </div>
</main>
