<main>
  <div id="pm-products" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid h-mb-80">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Mulesoft Products<span class="bob-h1--color"></span></h1>
                <p class="bob-p--large">Learn more about our products through our global partner enablement webinars.</p>
                <a href="#" target="_blank" class="bob-button">View calendar</a>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/products/partnermax-products-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/products/partnermax-products-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- roles START -->
  <section class="grid h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <h2 class="bob-h2">Product Overviews</h2>
      </div>
      <div class="row justify-content-center justify-content-sm-start align-items-top h-bkg--red-dots-2">
        <!-- grid START -->
        <div class="col__first col-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Product</span>
                  <h3 class="bob-h3 clamp-md-1">Anypoint Platform</h3>
                  <a href="" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Product</span>
                  <h3 class="bob-h3 clamp-md-1">Composer</h3>
                  <a href="" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://library.mulesoft.com/intro-uapim-partners" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Product</span>
                  <h3 class="bob-h3 clamp-md-1">Universal API Management</h3>
                  <a href="https://library.mulesoft.com/intro-uapim-partners" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://mulesoftpartners.bloomfire.com/series/4652500/posts/4652493-mulesoft-rpa-overview-key-messages" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Product</span>
                  <h3 class="bob-h3 clamp-md-1">Robotic Process Automation</h3>
                  <a href="https://mulesoftpartners.bloomfire.com/series/4652500/posts/4652493-mulesoft-rpa-overview-key-messages" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- roles END -->

  <!-- wide-card START -->
  <section class="wide-card h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start">
        <div class="col-12">
          <!-- card START -->
          <article class="bob-card-wide bob-card-wide--12col bob-card-wide--col-swap">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="bob-card-wide__img">
                  <img src="../images/partnermax/products/partnermax-ms-champion.png" alt="" class="image_desk">
                  <img src="../images/partnermax/products/partnermax-ms-champion.png" alt="" class="image_mob" width="796">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="bob-card-wide__txt">
                  <span class="bob-eyebrow--small">Mulesoft champions</span>
                  <h3 class="bob-h3">Become a Delivery Champion</h3>
                  <p class="bob-p clamp-md-2">Be a leader in the MuleSoft space by becoming a Delivery Champion.</p><a href="https://blogs.mulesoft.com/news/mulesoft-champions/" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- wide-card END -->

  <!-- roles START -->
  <section class="grid h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <h2 class="bob-h2">Accelerators</h2>
      </div>
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- grid START -->
        <div class="col__first col-12 col-md-8">
          <div class="row justify-content-center justify-content-sm-start align-items-top">
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/u/0/d/14gdjPc9VvEqT7MgB10Rsc4GU7m-DIVi3nRwj4KFEX3c/edit" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Accelerator</span>
                  <h3 class="bob-h3 clamp-md-1">Financial Services</h3>
                  <p class="bob-p">Deliver Customer 360 initiatives faster in the financial services space.</p>
                  <a href="https://docs.google.com/presentation/u/0/d/14gdjPc9VvEqT7MgB10Rsc4GU7m-DIVi3nRwj4KFEX3c/edit" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/u/0/d/1ZxZzRgcWnjxtmQIMt68b6C12qAcyfae6veZjoSoqSYk/edit" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Accelerator</span>
                  <h3 class="bob-h3 clamp-md-1">Retail</h3>
                  <p class="bob-p">Deliver Customer 360 initiatives faster in the retail space.</p>
                  <a href="https://docs.google.com/presentation/u/0/d/1ZxZzRgcWnjxtmQIMt68b6C12qAcyfae6veZjoSoqSYk/edit" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="https://docs.google.com/presentation/d/1jIWRDEf8oB6WavRa2IAvcX1uJgiVaZQ4TsKzKCKOCKY/edit?usp=sharing" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Accelerator</span>
                  <h3 class="bob-h3 clamp-md-1">Healthcare</h3>
                  <p class="bob-p">Deliver Customer 360 initiatives faster in the healthcare space.</p>
                  <a href="https://docs.google.com/presentation/d/1jIWRDEf8oB6WavRa2IAvcX1uJgiVaZQ4TsKzKCKOCKY/edit?usp=sharing" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <!-- card START -->
              <article class="bob-card bob-card--text-sm bob-card--border h-border--seaserpent">
                <a href="" target="_blank" class="bob-card__link-cover"><span>View</span></a>
                <div class="bob-card__txt">
                  <span class="bob-eyebrow--small">Accelerator</span>
                  <h3 class="bob-h3 clamp-md-1">Life Sciences</h3>
                  <p class="bob-p">Deliver Customer 360 initiatives faster in the Life Sciences space.</p>
                  <a href="https://drive.google.com/drive/folders/1WH6c4YukgzusNzCwZzr_56AZbQz6bND-" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </article>
              <!-- card END -->
            </div>
            
          </div>
        </div>
        <!-- grid END -->

      </div>
    </div>
  </section>
  <!-- roles END -->

  <!-- wide-card START -->
  <section class="wide-card h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start">
        <div class="col-12">
          <!-- card START -->
          <article class="bob-card-wide bob-card-wide--12col bob-card-wide--col-swap">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="bob-card-wide__img">
                  <img src="../images/partnermax/products/partnermax-partners-gmq-desktop.jpg" alt="" class="image_desk">
                  <img src="../images/partnermax/products/partnermax-partners-gmq-desktop.jpg" alt="" class="image_mob" width="796">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="bob-card-wide__txt">
                  <span class="bob-eyebrow--small">Partners</span>
                  <h3 class="bob-h3">Gartner’s Magic Quadrant</h3>
                  <p class="bob-p">MuleSoft named a leader in iPaaS & Full Lifecycle API Management by Gartner.</p><a href="https://www.mulesoft.com/lp/reports/gartner-magic-quadrant-leader" target="_blank" class="bob-link bob-link--carot "><span>View</span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- wide-card END -->

  </div>
</main>
