<main>
  <div id="pm-success" class="pages-content">

  <!-- header START -->
  <section class="hero container-fluid h-mb-80">
    <div class="bob-header__bkg bkg-inverted--dark-navy">
      <div class="container">
        <article class="bob-header">
          <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6">
              <div class="bob-header__text">
                <h1 class="bob-h1">Success Stories<span class="bob-h1--color"></span></h1>
                <p class="bob-p--large">Request a customer success story to be featured internally or externally.</p>
                <a tabindex="0" href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjE2NDA2ODIsInRhc2tGb3JtSWQiOjM2MTMxMX0JNDc5ODY2NjUwNTIxNQliMjVlNDhlMDM1MjFlMmYxNTk4YjJmNWEyNzBlNzZmY2YyN2JkZjc1N2YxODA3M2VkOTM3MWNlM2RlNDhmZjE5" target="_blank" class="bob-button">Submit your Story</a>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-5 offset-lg-1">
              <div class="bob-header__image direction-shift" role="img" aria-label="">
                <img src="../images/partnermax/success/partnermax-success-banner-desktop.jpg" alt="" class="image_desk" width="612" height="560"><img src="../images/partnermax/success/partnermax-success-banner-mobile.jpg" alt="test" class="image_mob" width="796">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- header END -->

  <!-- wide-card START -->
  <section class="wide-card h-mb-80">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-top">
        <h2 class="bob-h2">Featured Stories</h2>
      </div>
      <div class="row justify-content-center justify-content-sm-start">
        <div class="col-12">
          <!-- card START -->
          <article class="bob-card-wide bob-card-wide--12col bob-card-wide--col-swap">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="bob-card-wide__img">
                  <img src="../images/partnermax/success/partnermax-stories-asics.jpg" alt="" class="image_desk">
                  <img src="../images/partnermax/success/partnermax-stories-asics.jpg" alt="" class="image_mob" width="796">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="bob-card-wide__txt">
                  <span class="bob-eyebrow--small">Featured Story</span>
                  <h3 class="bob-h3">ASICS</h3>
                  <p class="bob-p">ASICS launches a new eCommerce platform in just 6 months and reuses APIs to deliver IT projects 2.5x faster.</p><a href="https://www.mulesoft.com/case-studies/api/asics" target="_blank" class="bob-link bob-link--carot "><span>View Story</span></a>
                </div>
              </div>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- wide-card END -->

  <!-- 3cards START -->
  <section class="three-cards h-mb-120">
    <div class="container">
      <div class="row justify-content-center justify-content-sm-start align-items-center">
        <div class="col-12 col-md-4">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://www.mulesoft.com/case-studies/api/att-integration" target="_blank" class="bob-card__link-cover"><span>View story</span></a>
            <div class="bob-card__img img-fit">
              <img src="../images/partnermax/success/partnermax-card-at&t.png" alt="">
            </div>
            <div class="bob-card__txt"><h3 class="bob-h3">AT&T</h3>
              <p class="bob-p">AT&T connects 50+ systems, saves 2 million work hours annually, and accelerates time to market by 8x - all enabled by API-led connectivity.</p>
              <a href="https://www.mulesoft.com/case-studies/api/att-integration" target="_blank" class="bob-link bob-link--carot "><span>View story</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4">
          <!-- card START -->
          <article target="_blank" class="bob-card bob-card--image ">
            <a href="https://www.mulesoft.com/case-studies/api/unilever" class="bob-card__link-cover"><span>View story</span></a>
            <div class="bob-card__img img-fit">
              <img src="../images/partnermax/success/partnermax-card-unilever.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3">Unilever</h3>
              <p class="bob-p">Unilever unifies the eCommerce experience across their portfolio with reusable services - launching new initiatives 3-4x faster.</p>
              <a href="https://www.mulesoft.com/case-studies/api/unilever" target="_blank" class="bob-link bob-link--carot "><span>View story</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
        <div class="col-12 col-md-4">
          <!-- card START -->
          <article class="bob-card bob-card--image ">
            <a href="https://docs.google.com/presentation/u/0/d/1IM79aHxTgwC_bSifElESIHIxOKDByDB7T2ecLl_lI9g/edit" target="_blank" class="bob-card__link-cover"><span>View story</span></a>
            <div class="bob-card__img img-fit">
              <img src="../images/partnermax/success/partnermax-card-landolakes.png" alt="">
            </div>
            <div class="bob-card__txt">
              <h3 class="bob-h3">Land O'Lakes</h3>
              <p class="bob-p">Land O'Lakes created a connected eCommerce experience with shared supply chain data.</p>
              <a href="https://docs.google.com/presentation/u/0/d/1IM79aHxTgwC_bSifElESIHIxOKDByDB7T2ecLl_lI9g/edit" target="_blank" class="bob-link bob-link--carot "><span>View story</span></a>
            </div>
          </article>
          <!-- card END -->
        </div>
      </div>
    </div>
  </section>
  <!-- 3cards END -->

  <!-- quote START -->
  <section class="quote-slider h-mb-120">
    <div class="container">
      <div id="quote-slider__carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row justify-content-center justify-content-md-start">
              <div class="quote-slider__img col-10 col-md-4 order-md-2">
                <img src="../images/partnermax/success/partnermax-success-greg-beltzer.png" class="d-block w-100" alt="">
              </div>
              <div class="quote-slider__txt col-12 col-sm-10 col-md-5 offset-md-1 col-md-6 order-md-1">
                <figure class="quote">
                  <blockquote>
                    MuleSoft has been critical in enabling our IT team to bring our legacy technology and modern platforms together. We now have a single view of each and every customer. And, with our new solution, clients are onboarded in just 24 minutes, versus weeks."
                  </blockquote>
                  <figcaption>
                    <strong>Greg Beltzer</strong><br>
                    Head of Technology, RBC Wealth Management
                  </figcaption>
                </figure>
                <a href="https://www.mulesoft.com/case-studies/api/royal-bank-of-canada" target="_blank" class="bob-link bob-link--carot "><span>View story</span></a>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>
  <!-- quote END -->
  
  <!-- grid 2/3 START -->
  <section class="grid browse-content h-mb-80">
    <div class="container">
     <div class="row justify-content-center justify-content-sm-start align-items-top">
        <!-- START -->
        <div class="col__first col-12 col-lg-8">
          <h2 class="bob-h2">Other stories</h2>
          <article class="bob-block__link-def">
            <div>
              <a href="https://docs.google.com/presentation/u/0/d/1LfngI_x4HzLwDV_mA2QmTZa3mq54W8azs25I05loqxY/edit" target="_blank" class="bob-link  "><span class="bob-h3">AMGEN</span></a>
              <p class="bob-p">Improving Patient & Employee Experience with Salesforce</p>
            </div>
          </article>
        </div>
        <!-- END -->

      </div>
    </div>
  </section>
  <!-- grid 2/3 END -->

  </div>
</main>
