.bob-banner {
  //background-color: var(--color-ms-blue);
  text-align: center;
  min-height: 300px;
  display: flex;
  position: relative;

  &.bkg-inverted--dark-navy {
    color: var(--color-white);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-color: var(--color-dark-navy);
    }
  }

  &.bkg--image {
    color: var(--color-white);

    @media screen and (min-width: $md) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-image: url('https://partner-mulesoft.edubrite.us/att/aa751606-db10-11ec-ae7e-0cc47a35250a.png');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__texts {
    width: 100%;
    padding: 24px;
  }

  .bob-h2 {
    margin-bottom: 24px;
  }

}
