.bob-header__bkg {

  &.bkg-gradient--lt-gray {
    position: relative;
    $margin-token: 100px; //10em;
    margin-bottom: $margin-token;
    text-align: center;

    @media screen and (min-width: $md) {
      text-align: left;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -100px; //-180px;
      height: 100px;
      width: 100%;
      background: rgb(243,248,251);
      background: linear-gradient(180deg, rgba(233,242,245,1) 0%, rgba(233,242,245,0) 100%); // #E9F2F5
    }

    //& .row > div[class^="col"] {
    .bob-hero > .row > .col-10:first-child {

      @media screen and (max-width: $md) {
        $margin-token: 4em;
        margin-bottom: $margin-token;

        &:only-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.bkg-inverted--dark-navy{
    background-color: var(--color-dark-navy)
  }

  .container {
    @media screen and (min-width: $md) {
      padding-right: 0;
    }
  }
}


//keep this
.bob-header {
  
  & > .row > .col-10:first-child {

    @media screen and (max-width: $md) {
      $margin-token: 3em;
      margin-bottom: $margin-token;

      &:only-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    margin: 40px 0 48px 0;
    line-height: 0;
    text-align: left;
    
    /*@media screen and ( min-width: $md ) {
      margin-top: 0;
    }*/
    
    @media screen and ( min-width: $md ) {
      text-align: left;
    }

    .bob-eyebrow {
      margin-bottom: 8px;
    }

    .bob-h3 {
      margin-bottom: 16px;
    }

    .bob-p {
      margin-bottom: 24px;
    }
  }

  .bob-button + .bob-button {
    
    @media screen and ( min-width: $md ) {
      //margin: 0;
      margin-left: 24px;
    }
  }
  .col-md-8 {
    .bob-button + .bob-button {
      @media screen and ( min-width: $md ) {
        margin-left: 24px;
      }
    }

  }

  &__image {
    overflow: hidden;
    padding-bottom: 48px;

    @media screen and (min-width: $md) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $lg) {
      overflow: unset;
    }

    > img, > video {
      max-width: 100%;
      
      @media screen and (min-width: $md) {
        max-width: unset;
      }
    }

    .image_desk {
      display: none;

      @media screen and (min-width: $md) {
        display: block;
      }
    }
    .image_mob {
      @media screen and (min-width: $md) {
        display: none;
      }
    }
  }
}