.bob-card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, .1);
  width: 100%;
  padding: 32px;
  margin-bottom: 32px;

  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .1);
  }

  &--complete {

  }
  &--textonly {

    .bob-eyebrow--small {
      margin-bottom: var(--token-4);
    }

    .bob-h3 {
      $lh: 32px;
      margin-bottom: var(--token-8);
    
      @media screen and ( min-width: $sm ) {
        min-height: ( $lh * 3 );

        @include ellipsis;
        -webkit-line-clamp: 3;
      }
      @media screen and ( min-width: $lg ) {
        min-height: ( $lh * 2 );
        -webkit-line-clamp: 2;
      }
    }

    .bob-p {
      $lh: 30px; // $lh: 1.875em;
      margin-bottom: 56px;

      @media screen and ( min-width: $sm ) {
        min-height: ( $lh * 4 );  // minimum height is equivalent to twice the P line height

        @include ellipsis;
        -webkit-line-clamp: 4;
      }

      @media screen and ( min-width: $lg ) {
        min-height: ( $lh * 3 );  // minimum height is equivalent to twice the P line height
        -webkit-line-clamp: 3;
      }
    }
  }

  &--textonly-sm {
    padding-top: 16px;
    padding-bottom: 16px;

    .bob-h3 {
      $lh: 32px;
      margin-bottom: var(--token-8);

      @include ellipsis;
    }

    .bob-p {
      $lh: 30px; // $lh: 1.875em;
      margin-bottom: 24px;

      @media screen and ( min-width: $lg ) {
        min-height: ( $lh * 2 );  // minimum height is equivalent to twice the P line height
        
        @include ellipsis;
        -webkit-line-clamp: 2;
      }
    }
  }
  



  &__padding-md {
    width: 100%;
    padding: calc(var(--token) * 2);
    padding-top: calc(var(--token) * 1.5);
    padding-right: calc(var(--token) * 1.5);
    padding-bottom: calc(var(--token) * 2);
  }
  
  &__padding-lg {
    width: 100%;
    padding: calc(var(--token) * 2);
    padding-top: calc(var(--token) * 2);
    padding-bottom: calc(var(--token) * 2);
  }

  &.bob-card--border {
    border-width: 5px 0 0 0;
    background-color: var(--color-white); 
  }
  
  &__img {
    width: 100%;
  
    &.--fixed_h {
    object-fit: cover;
    height: 110px;
    }
  }

  .bob-eyebrow--small {
    @include ellipsis;
  }

}
