.bob-eyebrow {
  color: var(--color-pale-sky);
  font-family: var(--ff-sf-sans);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 20px;
  min-height: 20px;
  margin-bottom: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  
  @include ellipsis;
  
  &--small {
    @extend .bob-eyebrow;
    //font-size: 0.75rem;
    
      //.bob-card & {
      //  color: var(--color-pale-sky);
      //}
  }

  .bkg-inverted--dark-navy & {
    color: var(--color-white);
  }
}