// Global variables


// SASS variables

// 'rem' base value
//$sp: 8px;


// Screen sizes matching bootstrap grid

// $grid-breakpoints:
//$xs: 480px;
$sm: 600px; //
$md: 992px; 
$lg: 1160px; //



// COLOR PALETTE
// Color CSS variables defined in CSS variables (below)
// Color Classes defined in _helpers.scss

$color-map: (
  //Primary
  'white': #fff,
  'black': #000,
  'ms-blue': #00A0DF,
  'dark-navy': #00044C,

  //Secondary
  'lt-blue': #E8F8FF, // light
  'lt-gray': #E9F2F5, // light
  'navy': #002196,
  'indigo': #5E66F9,
  'viridian': #00B39C,
  'lime': #BCD85F,
  'magenta': #E50097,
  'purple': #9500DB,
  'aqua': #00D4D4,
  'orange': #E97000,
  'coral': #F5877B,

  //Tertiary
  'malibu': #57A3FD,
  'pattens': #D5E4FF,
  'zircon': #EEF4FF,
  'cadmium': #EA001E,
  'pale-pink': #FFD2D8,
  'seashell': #FEF1EE,
  'mustard': #CA8501,
  'navajo': #FFE3A2,
  'papaya-whip': #FEF3D9,
  'seagreen': #2E844A,
  'apple': #A7EFA5,
  'nyanza': #DCFDD0,

  //Text colors
  'twilight': #FAFEFF,
  'regent': #909AA3,
  'pale-sky': #6D7883,
  'alto': #dbdbdb,
);


// TOKEN
// Stored value sizes to pass
$token-map: (
  // Basic units
  '8': 0.5rem, // 8
  '10': 0.625rem, // 10

  // Nominal or aliases
  //'xxs': 0.125rem, // 2
  //'xs': 0.25rem, // 4
  //'sm': 0.5rem, // 8
  //'md': 1rem, // 16
  //'lg': 1.5rem, // 24
  //'xl': 2rem, // 32

  // System Spacers
  //'2': calc(var(--token-8) / 8),
  '4': calc(var(--token-8) / 2),
  '16': calc(var(--token-8) * 2),
  '24': calc(var(--token-8) * 3),
  '32': calc(var(--token-8) * 4),
  '40': calc(var(--token-8) * 5),
  '48': calc(var(--token-8) * 6),
  '56': calc(var(--token-8) * 7),
  '64': calc(var(--token-8) * 8),
  '80': calc(var(--token-8) * 10),
  '20': calc(var(--token-10) * 2),
  '60': calc(var(--token-10) * 6),
  '120': calc(var(--token-10) * 12),
  '160': calc(var(--token-10) * 16),
  '240': calc(var(--token-10) * 24),
);

// CSS variables
:root {

// COLOR PALETTE
// CSS variables generator based on $color-map on SASS variables (above)
// CSS variables name pattern: --color-$name | e.g.: --color-white
@each $name, $value in $color-map {
  --color-#{$name}: #{$value}; 
}

// TOKEN
// CSS variables generator based on $token-map on SASS variables (above)
// CSS variables name pattern: --token-$name | e.g.: --token-md --token-16
@each $name, $value in $token-map {
  --token-#{$name}: #{$value};
  --spacer-#{$name}: #{$value};
}


// FONTS
// EDINPro (+Light, Medium, Bold) are EDUBRITE definitions hopefully replaced in the near future
// 'open_sansregular' and 'open_sansbold' are EDUBRITE definitons replaced by 'Open Sans' single definition

//--font-dinpro: 'EDINPro', 'DINPro', Arial, "Helvetica Neue", Helvetica, sans-serif; // includes all font weights
//--font-dinpro-lt: 'EDINProLight', 'DINPro-Light', Arial, "Helvetica Neue", Helvetica, sans-serif;
//--font-dinpro-md: 'EDINProMedium', 'DINPro-Medium', Arial, "Helvetica Neue", Helvetica, sans-serif;
--ff-dinpro-bd: 'EDINProBold', 'DINPro-Bold', Arial, "Helvetica Neue", Helvetica, sans-serif; // only EdinPro in use
--ff-open-sans: 'Open Sans', "Segoe UI", Tahoma, sans-serif; // replace EduBrite 'open_sansregular' 'open_sansbold'

//--font-deco: var(--font-dinpro);
--ff-head: var(--ff-dinpro-bd);
--ff-copy: var(--ff-open-sans);


// FONT SIZE 
// Every 0.125rem/(2px)
--fs-smst: 0.5rem; // 8
--fs-xxs: 0.625rem; // 10
--fs-xs: 0.75rem; // 12
--fs-sm: 0.875rem; // 14
--fs-md: 1rem; // 16
--fs-lg: 1.125rem; // 18
--fs-xl: 1.25rem; // 20
--fs-xxl: 1.375rem; // 22
--fs-lgst: 1.5rem; // 24

// Special sizes
--fs-h3: calc(var(--token-10) * 2.2); // 22
--fs-h2: calc(var(--token-10) * 3.3); // 33
--fs-h1: calc(var(--token-10) * 4.5); // 45


// For bigger sizes use non stored font-size definitions (copy from below).
/*
// Every 0.25rem/(4px)
calc(var(--fs-sm) * 2) // 28
calc(var(--fs-md) * 2) // 32
calc(var(--fs-lg) * 2) // 36
calc(var(--fs-xl) * 2) // 40
calc(var(--fs-xxl) * 2) // 44

// Every 0.375rem/(6px)
calc(var(--fs-md) * 3) // 48
calc(var(--fs-lg) * 3) // 54
calc(var(--fs-xl) * 3) // 60
calc(var(--fs-xxl) * 3) // 66

// Every 0.5rem/(8px)
calc(var(--fs-md) * 4) // 64
calc(var(--fs-lg) * 4) // 72
calc(var(--fs-xl) * 4) // 80
calc(var(--fs-xxl) * 4) // 88
calc(var(--fs-lgst) * 4) // 96
*/

// LINE HEIGHT - always relative to font-size
--lh-none: 1em;
--lh-tight: 1.125em;
--lh-snug: 1.25em;
--lh-normal: 1.5em;
--lh-relaxed: 1.75em;
--lh-loose: 2em;

// Icons
--icon-carot: url('https://www.mulesoft.com/training/assets/images/shared/shape_btn_carot.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.14031 1.05273L6.03235 5.9445L1.07324 10.9033' stroke='white' stroke-width='2' /%3e%3c/svg%3e"); 
--icon-play: //url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.052808 0L7 3.97277L0.052808 7.96962L0 8' fill='%2300044C'/%3e%3c/svg%3e"); //url('https://www.mulesoft.com/training/assets/images/shared/shape_btn_play.svg');
--icon-calendar: url('https://www.mulesoft.com/training/assets/images/shared/icon_16_calendar.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2002 9.53442H7.2002V13.5344H11.2002V9.53442ZM10.4 0.734375V2.33438H4V0.734375H2.4V2.33438H1.6C0.712 2.33438 0.008 3.05437 0.008 3.93438L0 15.1344C0 16.0144 0.712 16.7344 1.6 16.7344H12.8C13.68 16.7344 14.4 16.0144 14.4 15.1344V3.93438C14.4 3.05437 13.68 2.33438 12.8 2.33438H12V0.734375H10.4ZM12.7996 15.1345H1.59961V6.33447H12.7996V15.1345Z' fill='%23BFCDDB'/%3e%3c/svg%3e");
--icon-clock: url('https://www.mulesoft.com/training/assets/images/shared/icon_16_clock.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_400_57532)'%3e%3cpath d='M7.99997 1.34985C3.93843 1.34985 0.615356 4.67293 0.615356 8.73447C0.615356 12.796 3.93843 16.1191 7.99997 16.1191C12.0615 16.1191 15.3846 12.796 15.3846 8.73447C15.3846 4.67293 12.0615 1.34985 7.99997 1.34985ZM7.99997 14.2729C4.95382 14.2729 2.46151 11.7806 2.46151 8.73447C2.46151 5.68831 4.95382 3.19601 7.99997 3.19601C11.0461 3.19601 13.5384 5.68831 13.5384 8.73447C13.5384 11.7806 11.0461 14.2729 7.99997 14.2729ZM9.04613 8.79601C8.95382 8.7037 8.92305 8.58062 8.92305 8.45755V5.5037C8.92305 5.25755 8.70766 5.04216 8.46151 5.04216H7.53843C7.29228 5.04216 7.07689 5.25755 7.07689 5.5037V9.22678C7.07689 9.34985 7.13843 9.47293 7.19997 9.56524L9.47689 11.8422C9.66151 12.0268 9.93843 12.0268 10.123 11.8422L10.7692 11.196C10.9538 11.0114 10.9538 10.7345 10.7692 10.5499L9.04613 8.79601Z' fill='%23BFCDDB'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_400_57532'%3e%3crect width='16' height='16' fill='white' transform='translate(0 0.734375)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
--icon-level: url('https://www.mulesoft.com/training/assets/images/shared/icon_16_level.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.633057' y='5.25562' width='7.15131' height='9.05882' rx='1' fill='%23626A72'/%3e%3crect x='13.7444' y='0.314453' width='7.15131' height='14' rx='1' fill='%23BFCDDB'/%3e%3c/svg%3e");
--icon-pc:  url('https://www.mulesoft.com/training/assets/images/shared/icon_16_pc.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.2825 2.1499C14.2825 1.45408 13.7469 0.884766 13.0923 0.884766H1.19021C0.535594 0.884766 0 1.45408 0 2.1499V10.911C0 11.6068 0.535594 12.1761 1.19021 12.1761H13.0923C13.7469 12.1761 14.2825 11.6068 14.2825 10.911V2.1499ZM12.4972 9.80396C12.4972 10.057 12.2889 10.2784 12.0509 10.2784H2.23164C1.9936 10.2784 1.78531 10.057 1.78531 9.80396V3.25689C1.78531 3.00386 1.9936 2.78247 2.23164 2.78247H12.0509C12.2889 2.78247 12.4972 3.00386 12.4972 3.25689V9.80396ZM5.05839 14.1687C4.40377 14.1687 3.86818 14.738 3.86818 15.4338V15.5919C3.86818 15.845 4.07646 16.0664 4.31451 16.0664H9.968C10.206 16.0664 10.4143 15.845 10.4143 15.5919V15.4338C10.4143 14.738 9.87873 14.1687 9.22412 14.1687H5.05839ZM4.76083 8.69697H3.54087C3.36234 8.69697 3.24332 8.53883 3.24332 8.38068V4.68017C3.24332 4.4904 3.36234 4.36388 3.54087 4.36388H4.76083C4.90961 4.36388 5.05839 4.4904 5.05839 4.68017V8.38068C5.05839 8.57045 4.90961 8.69697 4.76083 8.69697ZM10.7416 8.69697H6.78419C6.60566 8.69697 6.48664 8.57045 6.48664 8.38068V4.68017C6.48664 4.4904 6.60566 4.36388 6.78419 4.36388H10.7416C10.8904 4.36388 11.0392 4.4904 11.0392 4.68017V8.38068C11.0392 8.57045 10.8904 8.69697 10.7416 8.69697Z' fill='%23BFCDDB'/%3e%3c/svg%3e");
--icon-user: url('https://www.mulesoft.com/training/assets/images/shared/icon_16_user.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_657_52665)'%3e%3cpath d='M15.3381 12.5283V13.1629C15.3381 13.9129 14.7035 14.5475 13.9535 14.5475H2.87656C2.12656 14.5475 1.49194 13.9129 1.49194 13.1629V12.5283C1.49194 10.8552 3.45348 9.81674 5.29964 9.00904L5.47271 8.9225C5.61694 8.86481 5.76117 8.86481 5.9054 8.95135C6.6554 9.44174 7.49194 9.70135 8.38617 9.70135C9.2804 9.70135 10.1458 9.41289 10.8669 8.95135C11.0112 8.86481 11.1554 8.86481 11.2996 8.9225L11.4727 9.00904C13.3766 9.81674 15.3381 10.8264 15.3381 12.5283V12.5283ZM8.41502 0.701351C10.3189 0.701351 11.8477 2.40327 11.8477 4.50904C11.8477 6.61481 10.3189 8.31674 8.41502 8.31674C6.51117 8.31674 4.98233 6.61481 4.98233 4.50904C4.98233 2.40327 6.51117 0.701351 8.41502 0.701351Z' fill='%236D7883'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_657_52665'%3e%3crect width='15' height='15' fill='white' transform='translate(0.915039 0.124428)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
--icon-handshake: url('https://www.mulesoft.com/training/assets/images/shared/icon_24_handshake.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='20' viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.8816 2.19484C9.89724 1.9778 9.82831 1.76321 9.68969 1.59737L8.64615 0.304888C8.56983 0.208439 8.47294 0.130882 8.36281 0.0780742C8.25268 0.0252665 8.13219 -0.00141068 8.01043 5.74737e-05C7.82218 0.00617446 7.64105 0.0746847 7.49466 0.195149L0.801608 5.82842C0.635016 5.96972 0.527761 6.17034 0.50174 6.38931C0.487953 6.60984 0.556485 6.82754 0.693655 6.99897L1.7372 8.21829C1.80341 8.31323 1.88909 8.39243 1.98833 8.45045C2.08757 8.50847 2.19801 8.54392 2.31204 8.55435C2.42606 8.56478 2.54095 8.54995 2.64879 8.51088C2.75662 8.4718 2.85484 8.40942 2.93667 8.32803L9.58174 2.75573C9.6657 2.68701 9.73543 2.60207 9.7869 2.50579C9.83837 2.40952 9.87056 2.30383 9.8816 2.19484Z' fill='white'/%3e%3cpath d='M13.576 6.92581L12.4964 7.77933C11.9584 8.23856 11.2721 8.47898 10.57 8.45421C9.86783 8.42944 9.19958 8.14124 8.69413 7.64521L8.45423 7.40134L11.5609 4.80419C11.4314 4.67612 11.2863 4.56547 11.1291 4.47497C10.6051 4.20272 10.0354 4.03312 9.44979 3.97505L4.10015 8.53531C4.09642 9.64388 4.38201 10.7336 4.92779 11.6934C5.33561 12.3396 10.7452 18.7532 10.7932 18.8142L11.5729 19.7653C11.7232 19.9157 11.9257 20 12.1366 20C12.3475 20 12.55 19.9157 12.7004 19.7653C12.8934 19.6204 13.0261 19.4072 13.0722 19.1678C13.0929 19.0777 13.094 18.9841 13.0754 18.8935C13.0567 18.8029 13.0188 18.7176 12.9642 18.6435L10.3494 15.522C10.2842 15.4299 10.2577 15.3151 10.2757 15.2031C10.2936 15.091 10.3547 14.9909 10.4454 14.9246C10.536 14.8583 10.6489 14.8313 10.7591 14.8496C10.8693 14.8679 10.9679 14.9299 11.0331 15.0221L13.576 18.0094C13.7283 18.1606 13.9328 18.2453 14.1457 18.2453C14.3586 18.2453 14.5631 18.1606 14.7155 18.0094C14.8885 17.8921 15.0125 17.7136 15.0635 17.5086C15.1144 17.3036 15.0887 17.0867 14.9913 16.8999L12.4245 13.8516C12.3831 13.8093 12.3509 13.7587 12.33 13.703C12.309 13.6474 12.2998 13.5879 12.3028 13.5283C12.3059 13.4688 12.3212 13.4106 12.3477 13.3574C12.3743 13.3043 12.4115 13.2574 12.4569 13.2197C12.5024 13.1821 12.5551 13.1545 12.6116 13.1388C12.6682 13.1232 12.7274 13.1197 12.7853 13.1287C12.8433 13.1377 12.8988 13.1589 12.9482 13.191C12.9976 13.2231 13.0398 13.2653 13.0722 13.3151L15.6151 16.3024C15.7819 16.4254 15.9839 16.489 16.1899 16.4833C16.3959 16.4776 16.5943 16.403 16.7543 16.2709C16.9142 16.1389 17.0268 15.9569 17.0746 15.7531C17.1224 15.5493 17.1026 15.3352 17.0185 15.144L14.4636 12.1933C14.4237 12.1535 14.392 12.1061 14.3704 12.0538C14.3487 12.0014 14.3376 11.9452 14.3376 11.8884C14.3376 11.8317 14.3487 11.7755 14.3704 11.7231C14.392 11.6708 14.4237 11.6234 14.4636 11.5836C14.506 11.5497 14.5546 11.5246 14.6066 11.5099C14.6586 11.4952 14.7129 11.4911 14.7665 11.4979C14.82 11.5048 14.8717 11.5223 14.9186 11.5496C14.9654 11.5768 15.0065 11.6133 15.0393 11.6568L17.6542 14.6319C17.7616 14.7481 17.9061 14.8216 18.062 14.8392C18.3267 14.8454 18.5845 14.7535 18.7875 14.5808C18.9905 14.4081 19.1249 14.1662 19.1655 13.9003C19.1754 13.8227 19.1699 13.7439 19.1493 13.6685C19.1287 13.5931 19.0934 13.5227 19.0456 13.4614L13.576 6.92581Z' fill='white'/%3e%3cpath d='M15.891 3.46293C14.7269 3.47656 13.6052 3.9085 12.7243 4.68226L12.2566 5.08463L12.1366 5.18218L12.0287 5.27972L9.38982 7.42573C9.79368 7.7168 10.2809 7.86387 10.7756 7.84402C11.2703 7.82417 11.7446 7.63852 12.1246 7.31599L13.1562 6.45027L13.2761 6.35273L13.3601 6.27957C13.4635 6.17458 13.6037 6.11562 13.7499 6.11562C13.8961 6.11562 14.0363 6.17458 14.1397 6.27957L19.1535 12.3762C20.1425 11.5276 20.7665 10.3202 20.8927 9.01085L16.3947 3.48732L15.891 3.46293Z' fill='white'/%3e%3cpath d='M24.3472 7.10871L18.8057 0.304888C18.7306 0.210053 18.6357 0.133466 18.5277 0.0807252C18.4198 0.0279848 18.3017 0.000424044 18.1819 5.74737e-05C17.9932 0.00337832 17.8112 0.0722164 17.6662 0.195149L16.3947 1.21938C16.3081 1.28555 16.2365 1.36988 16.1848 1.46666C16.133 1.56343 16.1024 1.67039 16.0949 1.78027C16.074 1.9996 16.1386 2.2185 16.2748 2.38993L16.6706 2.87766L21.4685 8.80356L21.7804 9.19375C21.8475 9.27961 21.9309 9.35084 22.0257 9.40322C22.1205 9.45559 22.2247 9.48802 22.3321 9.49858C22.439 9.50975 22.547 9.49935 22.6499 9.46796C22.7529 9.43657 22.8487 9.38482 22.9319 9.31568L24.2033 8.24268C24.3632 8.11305 24.4666 7.92475 24.4912 7.71837C24.5222 7.50389 24.4707 7.28548 24.3472 7.10871Z' fill='white'/%3e%3c/svg%3e ");
--icon-ribbon: url('https://www.mulesoft.com/training/assets/images/shared/icon_24_ribbon.svg'); //url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.6231 16.9385L7.28462 23.0769L6.17693 20.1231H3.22308L7.0077 15C7.74616 15.4615 8.53078 15.5077 9.08462 15.6462C9.26924 15.6923 9.50001 15.7385 9.59231 15.7385C9.68462 15.7846 9.86924 15.9231 9.96154 16.0154C10.3769 16.2923 10.9308 16.7077 11.6231 16.9385V16.9385ZM18.6385 15C17.9 15.4615 17.1154 15.5077 16.5615 15.6462C16.3769 15.6923 16.1 15.7385 16.0077 15.7385C15.9154 15.7846 15.7308 15.9231 15.6385 16.0154C15.2231 16.2923 14.7154 16.7538 14.0231 16.9846L18.3615 23.0769L19.4692 20.1231H22.4231L18.6385 15ZM12.8231 5.35385C11.3923 5.35385 10.2385 6.5077 10.2385 7.93847C10.2385 9.36923 11.3923 10.5231 12.8231 10.5231C14.2539 10.5231 15.4077 9.36923 15.4077 7.93847C15.4077 6.5077 14.2539 5.35385 12.8231 5.35385V5.35385ZM19.8385 7.93847C19.8385 8.81539 18.8692 9.5077 18.5462 10.2923C18.2231 11.1231 18.4077 12.2769 17.7615 12.8769C17.1615 13.4769 16.0077 13.3385 15.1769 13.6615C14.3923 13.9846 13.7 14.9539 12.8231 14.9539C11.9462 14.9539 11.2539 13.9846 10.4692 13.6615C9.63847 13.3385 8.48462 13.5231 7.88462 12.8769C7.28462 12.2769 7.42308 11.1231 7.10001 10.2923C6.77693 9.5077 5.8077 8.81539 5.8077 7.93847C5.8077 7.06154 6.77693 6.36923 7.10001 5.58462C7.42308 4.75385 7.23847 3.6 7.88462 3C8.48462 2.4 9.63847 2.53847 10.4692 2.21539C11.2539 1.89231 11.9462 0.92308 12.8231 0.92308C13.7 0.92308 14.3923 1.89231 15.1769 2.21539C16.0077 2.53847 17.1615 2.35385 17.7615 3C18.3615 3.6 18.2231 4.75385 18.5462 5.58462C18.8692 6.36923 19.8385 7.06154 19.8385 7.93847ZM17.6231 7.93847C17.6231 5.26154 15.5 3.13847 12.8231 3.13847C10.1462 3.13847 8.02308 5.26154 8.02308 7.93847C8.02308 10.6154 10.1462 12.7385 12.8231 12.7385C15.5 12.7385 17.6231 10.6154 17.6231 7.93847Z' fill='white'/%3e%3c/svg%3e");
}
