<div class="container bkg-lt-gray">100% changes at each point</div>
<div class="container-sm bkg-lt-gray">100% wide until small breakpoint</div>
<div class="container-md bkg-lt-gray">100% wide until medium breakpoint</div>
<div class="container-lg bkg-lt-gray">100% wide until large breakpoint</div>
<div class="container-xl bkg-lt-gray">100% wide until extra large breakpoint</div>
<div class="container-xxl bkg-lt-gray">100% wide until extra extra large breakpoint</div>
<div id="home" class="container-fluid bkg-lt-gray">
  <!--section class="starter-box">
    <h1></h1>
    <p></p>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
  </section-->
  100% wide
</div>

<section class="container-xl">
  <div class="row">
    <div class="col">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <h1 class="h1">Heading 1 class 'h1'</h1>
      <h1 class="h2">Heading 1 class 'h2'</h1>
      <h1 class="h3">Heading 1 class 'h3'</h1>
      <h1 class="h4">Heading 1 class 'h4'</h1>
      <h1 class="h5">Heading 1 class 'h5'</h1>
      <h1 class="h6">Heading 1 class 'h6'</h1>
      <span>Span line</span>
      <br>
      <a href="#">Link text</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
    </div>
  </div>
</section>
<section class="container-xl">
  <div class="row">
    <div class="col">
      <h1>Colors</h1>
      <h2 class="h4">Primary palette</h2>
      <div class="row">
        <div class="col-2">
          <div class="color_block bkg-ms-blue">
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-dark-navy">
            
          </div>
        </div>
      </div>
      <br>
      <h2 class="h4">Secondary palette</h2>
      <div class="row">
        <div class="col-2">
          <div class="color_block bkg-lt-blue">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-lt-gray">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-navy">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-indigo">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-viridian">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-lime">
            
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <div class="color_block bkg-magenta">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-purple">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-aqua">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-orange">
            
          </div>
        </div>
        <div class="col-2">
          <div class="color_block bkg-coral">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-xl">
  <div class="row">
    <div class="col">
      <h1>Card module atoms</h1>
      <h2 class="h3">ms-badge</h2>
      <span class="ms-badge">Badge</span>
      <br>
      <h2 class="h3">ms-card__eyebrow_h</h2>
      <span class="ms-card__eyebrow_h">Eyebrow</span>
      <br>
      <h2 class="h3">ms-card__h3</h2>
      <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitanum.</h3>
      <br>
      <h2 class="h3">ms-card__small_p</h2>
      <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
      <br>
      <h2 class="h3">ms-card__link</h2>
      <a class="ms-card__link link--carot">Lorem ipsum dolor sit ametraci</a>
      <br>
      <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
      <br>
      <h2 class="h3">ms-card</h2>
      <div class="row">
        <div class="col-4">
          <article class="ms-card">
            <div class="ms-card__content-sm"></div>
          </article>
        </div>
      </div>
      <br>
      <h2 class="h3">ms-card + border</h2>
      <div class="row">
        <div class="col-4">
          <article class="ms-card ms-card--border">
            <div class="ms-card__content-sm"></div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--ms-blue">
            <div class="ms-card__content-sm"></div>
          </article>
        </div>
      </div>
      <br>
      <h2 class="h3">ms-card headings</h2>
      <div class="row">
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--dark-navy">
            <div class="ms-card__content-sm">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisic50 gelitnaum</h3>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--navy">
            <div class="ms-card__content-sm">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">DevOps and API lifecycle with Anypoint Platform</h3>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--indigo">
            <div class="ms-card__content-sm">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">What's new with Anypoint</h3>
            </div>
          </article>
        </div>
      </div>
      <br>
      <h2 class="h3">ms-card content-sm</h2>
      <div class="row">
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--viridian">
            <div class="ms-card__content-sm">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--lime">
            <div class="ms-card__content-sm">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--magenta">
            <div class="ms-card__content-sm">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">What's new with Anypoint</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor</a>
            </div>
          </article>
        </div>
      </div>
      <br>
      <br>
      <h2 class="h3">ms-card content-md</h2>
      <div class="row">
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--purple">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--aqua">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card ms-card--border ms-card--orange">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">What's new with Anypoint</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor</a>
            </div>
          </article>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h"></span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <span class="ms-card__eyebrow_h">Eyebrow</span>
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img --fixed_h" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img --fixed_h" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
        <div class="col-4">
          <article class="ms-card">
            <img class="ms-card__img --fixed_h" src="https://dummyimage.com/376x110/E9F2F5/ffffff" alt="">
            <div class="ms-card__content-md">
              <h3 class="ms-card__h3">Lorem ipsum dolor sit amet, consectetur adipisicing elitnaum</h3>
              <p class="ms-card__small_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur sint? Deleniti consectetur, officiis distinctio reprehenderit odio tenetur! Expedita, odit? Id, obcaecati quia natus impedit animi vero atque fugit ab!</p>
              <a class="ms-card__link link--carot">Lorem ipsum dolor <br>sit ametraci</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>